<div class="{{ modalClass }}">
  <div class="modal-content">
    <h4>{{ title }}</h4>
    {{{ body }}}
  </div>
  <div class="modal-footer">
    {{#if negativeAction}}
      <a href="#!" class="modal-cancel modal-action modal-close waves-effect waves-green btn-flat">{{negativeAction.text}}</a>
    {{/if}}
    {{#if positiveAction}}
      <a href="#!" class="modal-ok modal-action modal-close waves-effect waves-light btn">{{positiveAction.text}}</a>
    {{/if}}
  </div>
</div>