<% breadcrumb :board, @board %>

<h1><%= @board.name %></h1>

<%= render partial: 'partials/sync_status_indicator', locals: { channel: 'JiraTeamMetrics::SyncBoardChannel', model_id: @board.jira_id } %>

<div class="ui grid">
  <div class="ten wide column">
    <table class="ui celled structured table">
      <tbody>
        <tr>
          <td rowspan="4">
            Manage flow
          </td>
          <td>
            <a href="<%= reports_path(@board) %>/scatterplot">Scatterplot</a>
          </td>
          <td>
            <span class="ui blue horizontal label">Beta</span>
            Inspect issue cycle times and visualise percentiles.
          </td>
        </tr>
        <tr>
          <td>
            <a href="<%= reports_path(@board) %>/aging_wip">Aging WIP</a>
          </td>
          <td>
            <span class="ui blue horizontal label">Beta</span>
            See which in progress issues are aging into higher cycle time percentiles.
          </td>
        </tr>
        <tr>
          <td>
            <a href="<%= reports_path(@board) %>/timesheets">Timesheets</a>
          </td>
          <td>
            <span class="ui orange horizontal label">Prototype</span>
            How the teams' time was allocated across projects
          </td>
        </tr>
        <tr>
          <td>
            <a href="<%= reports_path(@board) %>/throughput">Throughput</a>
          </td>
          <td>
            <span class="ui orange horizontal label">Prototype</span>
            Visualize throughput over time
          </td>
        </tr>
        <tr>
          <td>Portfolio management</td>
          <td>
            <a href="<%= reports_path(@board) %>/deliveries">Deliveries</a>
          </td>
          <td>
            <span class="ui blue horizontal label">Beta</span>
            Predictive reports for Deliveries
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="six wide column">
    <%= render partial: 'partials/status_card', locals: { object: @board } %>
  </div>
</div>
