<% content_for :nav_content do %>
    <div class="ui breadcrumb">
      <a href="<%= domain_path %>" class="section"><%= @domain.config.name %></a>
      <i class="right angle icon divider"></i>
      <a href="#!" class="active section"><%= @board.name %></a>
    </div>
<% end %>

<h1><%= @board.name %></h1>

<%= render partial: 'partials/sync_status_indicator', locals: { channel: 'JiraTeamMetrics::SyncBoardChannel', model_id: @board.jira_id } %>

<div class="ui grid">
  <div class="ten wide column">
    <table class="ui celled structured table">
      <thead>
        <tr>
          <th>hi</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="3">
          Manage flow
        </td>
        <td>
          <div class="item"><a href="<%= reports_path(@board) %>/scatterplot">Scatterplot</a></div>
        </td>
        <td>
          Inspect issue cycle times and visualise percentiles.
        </td>
      </tr>
      <tr>
        <td>
          <div class="item"><a href="<%= reports_path(@board) %>/aging_wip">Aging WIP</a></div>
        </td>
        <td>
          See which in progress issues are aging into higher cycle time percentiles.
        </td>
      </tr>
      <tr>
        <td>
          <div class="item"><a href="<%= reports_path(@board) %>/control_chart">Control Chart</a></div>
        </td>
        <td>
          Visualise cycle times alongside WIP.
        </td>
      </tr>
      </tbody>
    </table>
    <div class="ui list">
      <div class="item"><div class="header">Reports</div></div>
      <div class="item"><a href="<%= reports_path(@board) %>/control_chart">Control Chart</a></div>
      <div class="item"><a href="<%= reports_path(@board) %>/scatterplot">Scatterplot</a></div>
      <div class="item"><a href="<%= reports_path(@board) %>/aging_wip">Aging WIP</a></div>
      <div class="item"><a href="<%= reports_path(@board) %>/issues">Issues</a></div>
      <div class="item"><a href="<%= reports_path(@board) %>/issues_by_type">Issues by Type</a></div>
      <div class="item"><a href="<%= reports_path(@board) %>/cycle_times_by_type">Cycle Times by Type</a></div>
      <div class="item"><a href="<%= reports_path(@board) %>/timesheets">Timesheets</a></div>
      <div class="item"><a href="<%= reports_path(@board) %>/deliveries">Deliveries</a></div>
    </div>
  </div>
  <div class="six wide column">
    <%= render partial: 'partials/status_card', locals: { object: @board } %>
  </div>
</div>
