<% breadcrumb :board, @board %>
<% content_for :title, @board.name %>

<h1><%= @board.name %></h1>

<script>
  $(function() {
    $('#search').on('input', performSearch);

    function performSearch() {
      var query = $('#search').val();
      if (query.length > 0) {
        var searchUrl = '<%= domain_path %>/boards/<%= @board.jira_id %>/issues/search.json?query=' + query;
        $.get(searchUrl)
            .done(function (data) {
              $('#search-results').empty();
              var collection = $('<div class="ui list"></div>');
              $(data).each(function (i, issue) {
                collection.append(
                    '<a class="item" href="' + issue.link + '">' + issue.key + ' - ' + issue.summary + '</a>'
                );
              });
              if (data.length) {
                $('#search-results').append(collection);
              }
            });
      } else {
        $('#search-results').empty();
      }
    }
  });
</script>

<div class="ui grid">
  <div class="ten wide column">
    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2">
            Manage flow
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="four wide">
            <a href="<%= reports_path(@board) %>/scatterplot">Scatterplot</a>
          </td>
          <td>
            <span class="ui blue horizontal label">Beta</span>
            Inspect issue cycle times and visualise percentiles

            <div class="ui small borderless menu">
              <div class="header item">Quick Links</div>
              <%= link_to('Issue Cycle Times', @issue_cycletimes_ql, class: 'item') %>
              <%= link_to('Epic Cycle Times', @epic_cycletimes_ql, class: 'item') %>
            </div>
          </td>
        </tr>
        <tr>
          <td class="four wide">
            <a href="<%= reports_path(@board) %>/aging_wip">Aging WIP</a>
          </td>
          <td>
            <span class="ui blue horizontal label">Beta</span>
            See which in progress issues are aging into higher cycle time percentiles
          </td>
        </tr>
        <tr>
          <td class="four wide">
            <a href="<%= reports_path(@board) %>/throughput">Throughput</a>
          </td>
          <td>
            <span class="ui orange horizontal label">Prototype</span>
            Visualize throughput over time

            <div class="ui small borderless menu">
              <div class="header item">Quick Links</div>
              <%= link_to('Issues by Month', @issue_throughput_ql, class: 'item') %>
              <%= link_to('Epics by Month', @epic_throughput_ql, class: 'item') %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2">
            Portfolio Management
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="four wide">
            <a href="<%= reports_path(@board) %>/timesheets">Timesheets</a>
          </td>
          <td>
            <span class="ui orange horizontal label">Prototype</span>
            How the teams' time was allocated across projects
          </td>
        </tr>
        <% unless @domain.config.projects.issue_type.nil? %>
        <tr>
          <td class="four wide">
            <a href="<%= projects_report_path(@board) %>"><%= projects_name_singular %> Reports</a>
          </td>
          <td>
            <span class="ui blue horizontal label">Beta</span>
            Predictive reports for <%= projects_name_plural %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td class="four wide">
            <a href="<%= epics_report_path(@board) %>">Epic Reports</a>
          </td>
          <td>
            <span class="ui orange horizontal label">Prototype</span>
            Progress reports for Epics
          </td>
        </tr>
      </tbody>
    </table>
    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2">
            Custom Reports
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="four wide">
            <a href="<%= reports_path(@board) %>/query">Custom Query</a>
          </td>
          <td>
            <span class="ui orange horizontal label">Prototype</span>
            Write custom queries
          </td>
        </tr>
        <% @board.config.reports.custom_reports.each do |report| %>
          <tr>
            <td class="four wide">
              <a href="<%= reports_path(@board) %>/query?report_name=<%= report.name %>">
                <%= report.name %>
              </a>
            </td>
            <td>
              <%= report.description %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="ui segment">
      <div class="input-field">
        <div class="ui icon fluid input">
          <input id="search" type="text" autocomplete="off" placeholder="Search issues...">
          <i class="search icon"></i>
        </div>
      </div>
      <div id="search-results" style="height: 200px; overflow-y: auto; margin: 10px 0;"></div>
    </div>
  </div>
  <div class="six wide column">
    <%= render partial: 'partials/status_card', locals: { object: @board } %>
  </div>
</div>
