<!DOCTYPE html>
<html>
  <head>
    <title>JiraTeamMetrics</title>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      google.charts.load('current', {'packages':['corechart', 'timeline']});
    </script>

    <%= stylesheet_link_tag    'jira_team_metrics/application', media: 'all' %>
    <%= javascript_include_tag 'jira_team_metrics/application' %>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header class="nav-extended">
      <div class="nav-wrapper ui container">
        <h1>
          <a href="<%= root_url %>">Jira Team Metrics</a>
        </h1>
      </div>
      <div class="nav-content ui container">
        <%= breadcrumbs class: 'ui breadcrumb',
            separator: '<i class="right chevron icon divider"></i>' %>
      </div>
      <div class="ui divider"></div>
    </header>

    <main class="ui container" id="content_container">
      <%= yield %>
      <div id="pickadate-container"></div>
    </main>

    <footer class="ui basic center aligned segment">
      <% unless @board.nil? %>
          <div class="ui divider"></div>
          <p><%= @board.name %> last synchronized: <%= pretty_print_time(@board.last_synced) %></p>
      <% end %>
    </footer>

  </body>
</html>
