<div class="{{ modalClass }}">
  <div class="header">
    {{ title }}
  </div>
  <div class="content">
    {{{ body }}}
  </div>
  <div class="actions">
    {{#if negativeAction}}
      <a href="#!" class="ui negative button">{{negativeAction.text}}</a>
    {{/if}}
    {{#if positiveAction}}
      <a href="#!" class="ui positive button">{{positiveAction.text}}</a>
    {{/if}}
  </div>
</div>