<% breadcrumb :scope_report, @increment, @team %>

<% if @report.has_training_data? %>
    <div class="ui grid">
      <div class="eight wide column">
    <div id="training-popup" class="ui button">
      Predicted scope: <%= @report.predicted_epic_scope.round %>
      <%= 'issue'.pluralize(@report.predicted_epic_scope.round) %> / epic</div>
    <div class="ui fluid popup bottom left transition hidden">
    <table class="ui very compact table">
      <thead>
        <tr>
          <th>Delivery</th>
          <th>Scope</th>
          <th>Epics</th>
          <th colspan="2" class="center aligned">Issues / Epic</th>
          <th>Throughput</th>
          <th></th>
        </tr>
      </thead>
      <% @report.training_team_reports.each do |training_report| %>
          <tr>
            <td><%= training_report.increment.key %></td>
            <td><%= training_report.scope.count %></td>
            <td><%= training_report.epics.count %></td>
            <td class="right aligned"><%= pretty_print_number(training_report.epic_scope) %></td>
            <td></td>
            <td></td>
            <td>
              <a href="<%= delivery_scope_report_path(@board.training_board, training_report.increment, @team) %>" target="_blank">
                <i class="external alternate icon"></i>
              </a>
            </td>
          </tr>
      <% end %>
      <tfoot>
        <tr class="compact">
          <th><strong>Trained</strong></th>
          <th><%= @report.training_team_reports.map{ |training_report| training_report.scope.count }.sum %></th>
          <th><%= @report.training_team_reports.map{ |training_report| training_report.epics.count }.sum %></th>
          <th class="right aligned"><%= pretty_print_number(@report.trained_epic_scope) %></th>
          <th></th>
          <th><%= pretty_print_number(@report.trained_throughput * 7) %></th>
          <th></th>
        </tr>
        <tr class="compact">
          <th><strong>Adjusted</strong>
            <% if @report.adjusted_epic_scope || @report.adjusted_throughput %>
                <a id="adjustments-popup"
                   data-html="<%= @increment.metric_adjustments.as_string(@increment, @domain.short_team_name(@team)) %>"
                   data-position="right center">
                  <i class="ellipsis horizontal icon"></i>
                </a>
            <% end %>
          </th>
          <th></th>
          <th></th>
          <th class="right aligned"><%= pretty_print_number(@report.adjusted_epic_scope) %></th>
          <th></th>
          <th><%= pretty_print_number(@report.adjusted_throughput * 7) %></th>
          <th></th>
        </tr>
        <tr>
          <th><strong>Predicted</strong></th>
          <th></th>
          <th></th>
          <th class="right aligned"><%= pretty_print_number(@report.predicted_epic_scope) %></th>
          <th><span class="ui label">~ <%= @report.predicted_epic_scope.round %></span></th>
          <th><%= pretty_print_number(@report.predicted_throughput * 7) %></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
      </div>

    <script>
      $('#training-popup').popup({
        inline: true,
        hoverable: true
      });
      $('#adjustments-popup').popup({
        hoverable: true
      });
    </script>
      </div>
    </div>
<% end %>

<table class="ui table jira-tree">
  <thead>
    <tr>
      <th style="width: 90%">Issue</th>
      <th>Scope</th>
      <th>Status</th>
    </tr>
  </thead>

  <% @issues_by_epic.each do |epic, issues| %>
      <tr class="epic">
        <td>
          <% if epic.nil? %>
          None
          <% else %>
          <%= link_to(epic.key, epic) %>
            (<a href="<%= epic.domain_url %>" target="_blank">
              <i class="external alternate icon"></i></a>)
            &mdash; <%= epic.summary %>
          <% end %>
        </td>
        <td>
          <%= issues.count %>
        </td>
        <td></td>
      </tr>

      <% issues.each do |issue| %>
          <tr class="story">
            <td>
              <% if issue.persisted? %>
                  <%= link_to(issue.key, issue) %>
                (<a href="<%= issue.domain_url %>" target="_blank">
                  <i class="external alternate icon"></i></a>)
                &mdash; <%= issue.summary %>
              <% else %>
                  <%= issue.summary %>
              <% end %>
            </td>
            <td></td>
            <td class="red <%= @domain.status_color_for(issue.status) %>">
              <%= issue.status %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>