<% content_for :nav_content do %>
    <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Deliveries</a>
<% end %>

<h3>Deliveries</h3>

<% @increments.each do |increment| %>
    <h5>
      <a href="<%= "#{reports_path(@board)}/deliveries/#{increment.key}" %>">
        <%= increment.key %>
      </a>
      &mdash;
      <%= increment.summary %>
    </h5>
<% end %>
