<% breadcrumb :delivery, @increment %>

<script>
  google.charts.load('current', {'packages':['corechart', 'timeline']});

  $(function() {
    google.charts.setOnLoadCallback(updateChart);
  });

  function updateChart() {

    var rawData = google.visualization.arrayToDataTable(<%= cfd_data(:raw).to_json.html_safe %>);
    var trainedData = google.visualization.arrayToDataTable(<%= cfd_data(:trained).to_json.html_safe %>);

    var options = {
      hAxis: {titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0, textPosition: 'none'},
      isStacked: true,
      lineWidth: 1,
      areaOpacity: 0.4,
      legend: { position: 'top' },
      series: {
        0: { color: 'blue' },
        1: { color: 'green' },
        2: { color: 'red' },
        3: { color: 'orange' }
      },
      chartArea: {
        width: '95%',
        height: '75%',
        top: 40
      },
      annotations: {
        textStyle: {
          color: 'black'
        },
        domain: {
          style: 'line',
          stem: {
            color: 'red',
          }
        },
        datum: {
          style: 'point',
          stem: {
            color: 'black',
            length: '12'
          }
        }
      }
    };

    options.title = 'Rolling Forecast';
    var rawCfdChart = new google.visualization.AreaChart(document.getElementById('raw-cfd'));
    rawCfdChart.draw(rawData, options);

    options.title = 'Trained Forecast';
    var trainedCfdChart = new google.visualization.AreaChart(document.getElementById('trained-cfd'));
    trainedCfdChart.draw(trainedData, options);
  }
</script>

<div class="ui grid">
  <div id="raw-cfd" class="eight wide column" style="height: 300px; margin-top: 20px;">

  </div>
  <div id="trained-cfd" class="eight wide column" style="height: 300px; margin-top: 20px;">

  </div>
</div>

<table class="ui very compact table team-dashboard">
  <thead>
    <tr>
      <th class="center aligned">Status</th>
      <th class="center aligned">Team
        <div class="ui dropdown" id="teams-dropdown">
          <a><i class="filter icon"></i></a>
          <div class="menu">
            <div class="scrolling menu">
            <% team_dashboard_data[:teams].each do |team, team_data| %>
                <div class="item">
                  <span class="description"><div class="ui <%= team_data[:status_color] %> empty circular label"></div> </span>
                  <div class="ui checkbox">
                    <input type="checkbox" data-team="<%= team %>" checked="checked">
                    <label><%= team %></label>
                  </div>
                </div>
            <% end %>
            </div>
          </div>
        </div>
      </th>
      <th class="center aligned">Target</th>
      <th class="center aligned" colspan="2">Remaining</th>
      <th class="center aligned" colspan="2">Completed</th>
      <th class="center aligned highlight" colspan="2">Rolling Metrics</th>
      <th class="center aligned" colspan="2">Predicted Metrics</th>
      <th></th>
    </tr>
  </thead>
  <tr>
    <td colspan="3">
    </td>
    <td>Total</td>
    <td>[Predicted]</td>
    <td colspan="2"></td>
    <td class="highlight">Throughput</td>
    <td class="highlight">Forecast</td>
    <td>Throughput</td>
    <td>Forecast</td>
    <td></td>
  </tr>

<% team_dashboard_data[:teams].each do |team, team_data| %>
    <tr data-team="<%= team %>">
      <td class="center aligned">
        <% if @increment.target_date %>
            <span class="ui <%= team_data[:status_color] %> circular label"
                  data-tooltip="<%= team_data[:status_reason] %>"
                  data-position="bottom left"></span>
        <% end %>
      </td>
      <td>
        <%= team %>
      </td>
      <td>
        <%= pretty_print_date(@increment.target_date, show_tz: false) %>
      </td>
      <td class="right aligned">
        <%= team_data[:remaining_scope] %>
      </td>
      <td>
        [<a
          data-tooltip="<%= team_data[:predicted_scope_tooltip] %>"
          data-position="bottom left"
        ><%= team_data[:predicted_scope] %></a>]
      </td>
      <td class="right aligned">
        <%= team_data[:completed_scope] %>
      </td>
      <td>
        (<%= pretty_print_number(team_data[:progress_percent], round: true) %>%)
      </td>
      <td class="right aligned highlight">
        <%= link_to pretty_print_number(team_data[:rolling_throughput] * 7),
            delivery_throughput_report_path(@board, @increment, team) %>
      </td>
      <td class="highlight">
        <%= pretty_print_date(team_data[:rolling_completion_date], show_tz: false) %>
      </td>
      <td class="right aligned">
        <%= pretty_print_number(team_data[:predicted_throughput] * 7) %>
      </td>
      <td>
        <%= pretty_print_date(team_data[:predicted_completion_date], show_tz: false) %>
      </td>
      <td>
        <a href="<%= delivery_scope_report_path(@board, @increment, team) %>">Details</a>
      </td>
    </tr>
<% end %>

  <tfoot>
  <tr>
    <th></th>
    <th>
      Totals
    </th>
    <th>
      <%= pretty_print_date(@increment.target_date, show_tz: false) %>
    </th>
    <th class="right aligned">
      <%= team_dashboard_data[:totals][:remaining_scope] %>
    </th>
    <th>
      [<%= team_dashboard_data[:totals][:predicted_scope] %>]
    </th>
    <th class="right aligned">
      <%= team_dashboard_data[:totals][:completed_scope] %>
    </th>
    <th>
      (<%= pretty_print_number(team_dashboard_data[:totals][:progress_percent], round: true) %>%)
    </th>
    <th class="right aligned highlight">
      <%= pretty_print_number(team_dashboard_data[:totals][:rolling_throughput] * 7) %>
    </th>
    <th class="highlight">
    </th>
    <th class="right aligned">
      <%= pretty_print_number(team_dashboard_data[:totals][:predicted_throughput] * 7) %>
    </th>
    <th>
    </th>
    <th></th>
  </tr>
  </tfoot>

</table>

<div class="ui center aligned basic segment">
  <p>
    Rolling metrics measured across previous <%= team_dashboard_data[:rolling_window_days] %> day window. Throughput is closed issues per week.
  </p>
</div>

<script>
  $(function() {
    $('#teams-dropdown').dropdown({
      on: 'hover',
      action: 'nothing'
    });
    $('input[data-team]').change(function() {
      var team = $(this).data('team');
      if ($(this).prop('checked')) {
        $('tr[data-team="' + team + '"]').show();
      } else {
        $('tr[data-team="' + team + '"]').hide();
      }
    });
  });
</script>