<% breadcrumb :epics, @board %>

<h1>Epic Reports</h1>

<div class="epic-kanban ui grid">
  <div class="<%= @sections.count.humanize %> column row">

<% @sections.each do |section| %>
    <div class="column <%= 'invalid_wip' if section[:invalid_wip] %>">
    <div>
      <span class="right floated">
        <% unless section[:min].nil? %>
          Min <%= section[:min] %>
        <% end %>
      </span>
      <h3><%= section[:issues].count %> <%= section[:title] %></h3>
    </div>
    <div class="show-more-container">
      <% if section[:issues].empty? %>
          <div class="ui center aligned basic segment">
            <i>None</i>
          </div>
      <% elsif section[:collapsed] %>
          <div class="ui center aligned basic segment show-more-holder">
            <a href="#" class="ui basic blue button show-more">Show <%= section[:title] %> Epics</a>
          </div>
      <% end %>
      <div class="ui one column cards">
        <% section[:issues].each do |epic| %>
            <div class="ui card <%= 'below-fold hidden' if section[:collapsed] %>">
              <div class="content">
                <h4><%= issue_summary(epic) %></h4>
              </div>
              <div class="content">
                <table style="width: 100%;">
                <% @report_options.card_layout.fields.each do |field_name| %>
                    <tr>
                    <td><%= field_name %></td>
                    <td><b><%= issue_field(epic, field_name) %></b></td>
                    </tr>
                <% end %>
                </table>
              </div>
              <div class="content">
                <div class="ui two mini statistics">
                  <div class="statistic">
                    <div class="value">
                      <%= epic.scope.count %>
                    </div>
                    <div class="label">
                      Issues
                    </div>
                  </div>
                  <div class="statistic">
                    <div class="value">
                      <%= pretty_print_number(epic.forecaster.percent_done, round: true, percentage: true) %>
                    </div>
                    <div class="label">
                      Progress
                    </div>
                  </div>
                </div>
              </div>
              <div class="extra content">
                <a class="ui fluid tiny teal button" href="<%= epic_report_path(epic) %>">
                  <i class="chart line icon"></i>
                  Progress Report
                </a>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    </div>
<% end %>

  </div>
</div>
