<% breadcrumb :epic, @epic %>

<div class="issue-header">
  <h2 class="ui header">
    <%= link_to @epic.key, path_for(@epic) %>
    -
    <%= @epic.summary %>
    <span class="inline sub header">&middot; Progress Report</span>
  </h2>
  <a target="_blank" href="<%= @epic.domain_url %>">
    <i class="external alternate icon"></i>Open in Jira
  </a>
</div>

<%= render partial: 'partials/progress_widget' %>

<div class="ui centered grid">
  <div class="sixteen wide column ui divider">
  </div>
  <div class="twelve wide column">
    <div class="ui top attached block header">
      Issues in Epic
    </div>
    <div class="ui bottom attached segment">
      <%= render partial: 'partials/issues_in_epic', locals: { epic: @epic, show_dates: true } %>
    </div>
  </div>
</div>