<% breadcrumb :epic, @epic %>

<h3 class="ui header">
  <%= link_to @epic.key, path_for(@epic) %>
  -
  <%= @epic.summary %>
  <span class="inline sub header">&middot; Progress Report</span>
  <span class="ui right floated large <%= @domain.status_color_for(@epic.status_category) %> horizontal label">
    <%= @epic.status %>
  </span>
</h3>

<script>
  $(function() {
    $('#progress').progress({
      percent: <%= @epic.percent_done %>,
      showActivity: false
    });
  });
</script>

<script>
  google.charts.load('current', {'packages':['corechart', 'timeline']});

  $(function() {
    google.charts.setOnLoadCallback(updateChart);
  });

  function updateChart() {

    var rawData = google.visualization.arrayToDataTable(<%= epic_cfd_data.to_json.html_safe %>);

    var options = {
      hAxis: {titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0, textPosition: 'none'},
      isStacked: true,
      lineWidth: 1,
      areaOpacity: 0.4,
      legend: { position: 'top' },
      series: {
        0: { color: 'blue' },
        1: { color: 'green' },
        2: { color: 'red' }
      },
      chartArea: {
        width: '94%',
        height: '80%',
        top: 20
      },
      annotations: {
        textStyle: {
          color: 'black'
        },
        domain: {
          style: 'line',
          stem: {
            color: 'red',
          }
        },
        datum: {
          style: 'point',
          stem: {
            color: 'black',
            length: '12'
          }
        }
      }
    };

    var rawCfdChart = new google.visualization.AreaChart(document.getElementById('raw-cfd'));
    rawCfdChart.draw(rawData, options);
  }
</script>

<div class="ui divider"></div>

<div class="ui centered grid">
  <div class="eight wide column">
    <div class="ui three statistics">
      <div class="statistic">
        <div class="value">
          <%= @epic.scope.count %>
        </div>
        <div class="label">
          Total
        </div>
      </div>
      <div class="blue statistic">
        <div class="value">
          <%= @epic.completed_scope.count %>
        </div>
        <div class="label">
          Completed
        </div>
      </div>
      <div class="green statistic">
        <div class="value">
          <%= @epic.in_progress_scope.count %>
        </div>
        <div class="label">
          In Progress
        </div>
      </div>
    </div>

    <div class="ui blue progress" id="progress" style="margin-top: 30px;">
      <div class="bar">
        <div class="progress"></div>
      </div>
    </div>

    <div class="ui three statistics">
      <div class="statistic">
        <div class="text value">
          <%= pretty_print_date(@epic.started_time, show_tz: false, hide_year: true) %>
        </div>
        <div class="label">
          Started
        </div>
      </div>
      <div class="statistic">
        <div class="text value">
          <%= pretty_print_number(@epic.throughput * 7.0) %>
        </div>
        <div class="label">
          Avg. Issues / Week
        </div>
      </div>
      <div class="statistic">
        <div class="text value">
          <%= pretty_print_date(@epic.forecast, show_tz: false, hide_year: true) %>
        </div>
        <div class="label">
          Forecast
        </div>
      </div>
    </div>
  </div>
  <div class="eight wide column">
    <div id="raw-cfd" class="eight wide column" style="height: 300px; margin-top: 20px;">

    </div>
  </div>
  <div class="sixteen wide column ui divider">
  </div>
  <div class="twelve wide column">
    <div class="ui top attached block header">
      Issues in Epic
    </div>
    <div class="ui bottom attached segment">
      <%= render partial: 'partials/issues_in_epic', locals: { epic: @epic, show_dates: true } %>
    </div>
  </div>
</div>