<% breadcrumb :report, @board, :issues_by_type, 'Issues by Type' %>

<h1>Issues By Type</h1>

<%= render partial: 'partials/cycle_time_form' %>

<div class="ui grid">
  <div class="sixteen wide column">
    <h5>Count of Completed Issues</h5>
  </div>
  <div class="six wide column">
    <%= render partial: 'jira_team_metrics/charts/issue_count_summary' %>
  </div>
  <div class="ten wide column">
    <%= render partial: 'jira_team_metrics/charts/issue_count_by_month' %>
  </div>

  <div class="sixteen wide column">
    <h5>Total Cycle Times for Completed Issues</h5>
  </div>
  <div class="six wide column">
    <%= render partial: 'jira_team_metrics/charts/issue_effort_summary' %>
  </div>
  <div class="ten wide column">
    <%= render partial: 'jira_team_metrics/charts/issue_effort_by_month' %>
  </div>

  <div class="sixteen wide column">
    <h5>Count of Created Issues</h5>
  </div>
  <div class="six wide column">
    <%= render partial: 'jira_team_metrics/charts/created_issues_summary' %>
  </div>
  <div class="ten wide column">
    <%= render partial: 'jira_team_metrics/charts/created_issues_by_month' %>
  </div>
</div>
