<% breadcrumb :project, @project %>
<% content_for :title, "#{projects_name_singular} Report: #{@project.key} - #{@board.name}" %>

<script>
  google.charts.load('current', {'packages':['corechart', 'timeline']});

  $(function() {
    google.charts.setOnLoadCallback(updateChart);

    //$('.menu').menu();
  });

  function updateChart() {

    var rawData = google.visualization.arrayToDataTable(<%= project_cfd_data(:raw).to_json.html_safe %>);
    var trainedData = google.visualization.arrayToDataTable(<%= project_cfd_data(:trained).to_json.html_safe %>);

    var options = {
      hAxis: {titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0, textPosition: 'none'},
      isStacked: true,
      lineWidth: 1,
      areaOpacity: 0.4,
      legend: { position: 'top' },
      series: {
        0: { color: 'grey' },
        1: { color: 'blue' },
        2: { color: 'green' },
        3: { color: 'red' },
        4: { color: 'orange' }
      },
      crosshair: { trigger: 'focus', orientation: 'vertical', color: 'grey' },
      focusTarget: 'category',
      chartArea: {
        width: '94%',
        height: '75%',
        top: 40
      },
      annotations: {
        textStyle: {
          color: 'black'
        },
        domain: {
          style: 'line',
          stem: {
            color: 'red',
          }
        },
        datum: {
          style: 'point',
          stem: {
            color: 'black',
            length: '12'
          }
        }
      }
    };

    options.title = 'Rolling Forecast';
    var rawCfdChart = new google.visualization.AreaChart(document.getElementById('raw-cfd'));
    rawCfdChart.draw(rawData, options);

    options.title = 'Trained Forecast';
    var trainedCfdChart = new google.visualization.AreaChart(document.getElementById('trained-cfd'));
    trainedCfdChart.draw(trainedData, options);
  }
</script>

<div class="ui grid">
  <div id="raw-cfd" class="eight wide column" style="height: 300px; margin-top: 20px;">

  </div>
  <div id="trained-cfd" class="eight wide column" style="height: 300px; margin-top: 20px;">

  </div>
</div>

<table class="ui very compact table team-dashboard">
  <thead>
    <tr>
      <th class="center aligned">Status</th>
      <th class="center aligned">Team
        <div class="ui dropdown" id="teams-dropdown">
          <a><i id="team-filter-icon" class="<%= 'disabled' unless @filter_applied %> filter icon"></i></a>
          <div class="menu">
            <div class="scrolling menu">
            <% team_dashboard_data[:teams].each do |team, team_data| %>
                <div class="item">
                  <span class="description"><div class="ui <%= team_data[:status_color] %> empty circular label"></div> </span>
                  <div class="ui checkbox">
                    <input type="checkbox" data-team="<%= @domain.short_team_name(team) %>"
                           <%= 'checked' if @show_teams.include?(@domain.short_team_name(team)) %>>
                    <label><%= team %></label>
                  </div>
                </div>
            <% end %>
            </div>
          </div>
        </div>
      </th>
      <th class="center aligned">Target</th>
      <th class="center aligned" colspan="2">Remaining</th>
      <th class="center aligned" colspan="2">Completed</th>
      <th class="center aligned highlight" colspan="2">
        Rolling Metrics
        <a href="#" data-position="bottom right"
           data-tooltip="Measures average throughput over previous 14 day rolling window. Forecasts based on this rolling average.">
          <i class="question circle outline icon"></i>
        </a>
      </th>
      <th class="center aligned" colspan="2">
        History-based Metrics
        <a href="#" data-position="bottom right"
           data-tooltip="Computes average throughput based on historical data, using previous <%= projects_name_plural %> to train forecast.">
          <i class="question circle outline icon"></i>
        </a>
      </th>
      <th></th>
    </tr>
  </thead>
  <tr>
    <td colspan="3">
    </td>
    <td>Total</td>
    <td>[Predicted]</td>
    <td colspan="2"></td>
    <td class="highlight">Throughput</td>
    <td class="highlight">Forecast</td>
    <td>Throughput</td>
    <td>Forecast</td>
    <td></td>
  </tr>

<% team_dashboard_data[:teams].each do |team, team_data| %>
    <tr data-team="<%= @domain.short_team_name(team) %>"
        style="<%= 'display: none;' unless @show_teams.include?(@domain.short_team_name(team)) %>">
      <td class="center aligned">
        <% if @project.target_date %>
            <span class="ui <%= team_data[:status_color] %> circular label"
                  data-tooltip="<%= team_data[:status_reason] %>"
                  data-position="bottom left"></span>
        <% end %>
      </td>
      <td>
        <%= team %>
      </td>
      <td>
        <%= pretty_print_date(@project.target_date, show_tz: false) %>
      </td>
      <td class="right aligned">
        <%= team_data[:remaining_scope] %>
      </td>
      <td>
        [<a
          data-tooltip="<%= team_data[:predicted_scope_tooltip] %>"
          data-position="bottom left"
        ><%= team_data[:predicted_scope] %></a>]
      </td>
      <td class="right aligned">
        <%= team_data[:completed_scope] %>
      </td>
      <td>
        (<%= pretty_print_number(team_data[:progress_percent], round: true) %>%)
      </td>
      <td class="right aligned highlight">
        <%= link_to pretty_print_number(team_data[:rolling_throughput] * 7),
            project_throughput_report_path(@project, team) %>
      </td>
      <td class="highlight">
        <span class="forecast-date">
          <%= pretty_print_date(team_data[:rolling_completion_date], show_tz: false) %>
        </span>
        <span class="forecast-lead-time">
          <%= pretty_print_duration(team_data[:rolling_lead_time]) %>
        </span>
      </td>
      <td class="right aligned">
        <%= pretty_print_number(team_data[:predicted_throughput] * 7) %>
      </td>
      <td>
        <span class="forecast-date">
          <%= pretty_print_date(team_data[:predicted_completion_date], show_tz: false) %>
        </span>
        <span class="forecast-lead-time">
          <%= pretty_print_duration(team_data[:predicted_lead_time]) %>
        </span>
      </td>
      <td>
        <a href="<%= project_scope_report_path(@project, team) %>">Details</a>
      </td>
    </tr>
<% end %>

  <tfoot>
  <tr>
    <th></th>
    <th>
      Totals
    </th>
    <th>
      <%= pretty_print_date(@project.target_date, show_tz: false) %>
    </th>
    <th class="right aligned">
      <%= team_dashboard_data[:totals][:remaining_scope] %>
    </th>
    <th>
      [<%= team_dashboard_data[:totals][:predicted_scope] %>]
    </th>
    <th class="right aligned">
      <%= team_dashboard_data[:totals][:completed_scope] %>
    </th>
    <th>
      (<%= pretty_print_number(team_dashboard_data[:totals][:progress_percent], round: true) %>%)
    </th>
    <th class="right aligned highlight">
      <%= pretty_print_number(team_dashboard_data[:totals][:rolling_throughput] * 7) %>
    </th>
    <th class="highlight">
    </th>
    <th class="right aligned">
      <%= pretty_print_number(team_dashboard_data[:totals][:predicted_throughput] * 7) %>
    </th>
    <th>
    </th>
    <th></th>
  </tr>
  </tfoot>

</table>

<div id="forecast-display-toggle" class="ui text menu">
  <div class="right menu">
  <span class="item">Show forecasts as</span>
  <a id="toggle-dates" class="item active" onclick="toggleForecasts(false)">dates</a>
  <a id="toggle-lead-times" class="item" onclick="toggleForecasts(true)">lead times</a>
  </div>
</div>

<div class="ui center aligned basic segment">
  <p>
    Rolling metrics measured across previous <%= team_dashboard_data[:rolling_window_days] %> day window. Throughput is closed issues per week.
  </p>
</div>

<script>
  function toggleForecasts(showLeadTimes) {
    $('#forecast-display-toggle .item').removeClass('active');
    if (showLeadTimes) {
      $('.forecast-date').hide();
      $('.forecast-lead-time').show();
      $('#toggle-lead-times').addClass('active');
    } else {
      $('.forecast-date').show();
      $('.forecast-lead-time').hide();
      $('#toggle-dates').addClass('active');
    }
  }

  $(function() {
    toggleForecasts(false);

    $('#teams-dropdown').dropdown({
      on: 'hover',
      action: 'nothing'
    });
    $('input[data-team]').change(function() {
      var team = $(this).data('team');
      if ($(this).prop('checked')) {
        $('tr[data-team="' + team + '"]').show();
      } else {
        $('tr[data-team="' + team + '"]').hide();
      }

      var $teamOptions = $('input[data-team]');
      var selectedTeams = $teamOptions.filter(function(_, el) {
        return $(el).prop('checked');
      }).map(function(_, el) {
        return $(el).data('team');
      }).toArray();
      var unselectedTeams = $teamOptions.filter(function(_, el) {
        return !$(el).prop('checked');
      }).map(function(_, el) {
        return $(el).data('team');
      }).toArray();
      if (unselectedTeams.length > 0) {
        $('#team-filter-icon').removeClass('disabled');
        history.pushState({}, "", "?filter_teams=" + selectedTeams.join(','))
      } else {
        $('#team-filter-icon').addClass('disabled');
        history.pushState({}, "", "?");
      }
    });
  });
</script>