<% breadcrumb :project_scope_report, @project, @team %>

<%= render partial: 'partials/progress_widget', locals: { predicted_scope: @report.predicted_scope.count } %>

<% if @report.has_training_data? %>
    <div class="ui grid">
      <div class="eight wide column">
    <div id="training-popup" class="ui button">
      Predicted scope: <%= @report.predicted_epic_scope.round %>
      <%= 'issue'.pluralize(@report.predicted_epic_scope.round) %> / epic</div>
    <div class="ui fluid popup bottom left transition hidden">
    <table class="ui very compact table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Scope</th>
          <th>Epics</th>
          <th colspan="2" class="center aligned">Issues / Epic</th>
          <th>Throughput</th>
          <th></th>
        </tr>
      </thead>
      <% @report.training_team_reports.each do |training_report| %>
          <tr>
            <td><%= training_report.project.key %></td>
            <td><%= training_report.scope.count %></td>
            <td><%= training_report.epics.count %></td>
            <td class="right aligned"><%= pretty_print_number(training_report.epic_scope) %></td>
            <td></td>
            <td></td>
            <td>
              <a href="<%= project_scope_report_path(@board.training_board, training_report.project, @team) %>" target="_blank">
                <i class="external alternate icon"></i>
              </a>
            </td>
          </tr>
      <% end %>
      <tfoot>
        <tr class="compact">
          <th><strong>Trained</strong></th>
          <th><%= @report.training_team_reports.map{ |training_report| training_report.scope.count }.sum %></th>
          <th><%= @report.training_team_reports.map{ |training_report| training_report.epics.count }.sum %></th>
          <th class="right aligned"><%= pretty_print_number(@report.trained_epic_scope) %></th>
          <th></th>
          <th><%= pretty_print_number(@report.trained_throughput * 7) %></th>
          <th></th>
        </tr>
        <tr class="compact">
          <th><strong>Adjusted</strong>
            <% if @report.adjusted_epic_scope || @report.adjusted_throughput %>
                <a id="adjustments-popup"
                   data-html="<%= @project.metric_adjustments.as_string(@project, @domain.short_team_name(@team)) %>"
                   data-position="right center">
                  <i class="ellipsis horizontal icon"></i>
                </a>
            <% end %>
          </th>
          <th></th>
          <th></th>
          <th class="right aligned"><%= pretty_print_number(@report.adjusted_epic_scope) %></th>
          <th></th>
          <th><%= pretty_print_number(@report.adjusted_throughput.nil? ? nil : @report.adjusted_throughput * 7) %></th>
          <th></th>
        </tr>
        <tr>
          <th><strong>Predicted</strong></th>
          <th></th>
          <th></th>
          <th class="right aligned"><%= pretty_print_number(@report.predicted_epic_scope) %></th>
          <th><span class="ui label">~ <%= @report.predicted_epic_scope.round %></span></th>
          <th><%= pretty_print_number(@report.predicted_throughput * 7) %></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
      </div>

    <script>
      $('#training-popup').popup({
        inline: true,
        hoverable: true
      });
      $('#adjustments-popup').popup({
        hoverable: true
      });
    </script>
      </div>
    </div>
<% end %>

<table class="ui table jira-tree">
  <thead>
    <tr>
      <th style="width: 80%">Issue</th>
      <th style="width: 6%">Scope</th>
      <th style="width: 10%">
        Status
        <div class="ui dropdown" id="status-dropdown">
          <a><i id="status-filter-icon" class="<%= 'disabled' unless @filter_applied %> filter icon"></i></a>
          <div class="menu">
            <div class="scrolling menu">
              <% @status_categories.each do |status_category| %>
                  <div class="item">
                    <span class="description"><div class="ui <%= @domain.status_color_for(status_category) %> empty circular label"></div> </span>
                    <div class="ui checkbox">
                      <input type="checkbox" data-status-category="<%= status_category %>"
                             <%= 'checked' if @show_categories.include?(status_category) %>>
                      <label><%= status_category %></label>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </th>
    </tr>
  </thead>

  <% @issues_by_epic.each do |epic, issues| %>
      <tr class="epic">
        <td>
          <% if epic.nil? %>
          None
          <% else %>
          <%= link_to(epic.key, epic) %>
            (<a href="<%= epic.domain_url %>" target="_blank">
              <i class="external alternate icon"></i></a>)
            &mdash; <%= epic.summary %>
          <% end %>
        </td>
        <td>
          <%= issues.count %>
        </td>
        <td></td>
      </tr>

      <% issues.each do |issue| %>
          <tr class="story" data-status-category="<%= issue.status_category %>"
              style="<%= 'display: none;' unless @show_categories.include?(issue.status_category) %>">
            <td>
              <% if issue.persisted? %>
                  <%= link_to(issue.key, issue) %>
                (<a href="<%= issue.domain_url %>" target="_blank">
                  <i class="external alternate icon"></i></a>)
                &mdash; <%= issue.summary %>
              <% else %>
                  <%= issue.summary %>
              <% end %>
            </td>
            <td></td>
            <td class="<%= @domain.status_color_for(issue.status_category) %>">
              <%= issue.status %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>

<script>
  $(function() {
    $('#status-dropdown').dropdown({
      on: 'hover',
      action: 'nothing'
    });
    $('input[data-status-category]').change(function() {
      var statusCategory = $(this).data('status-category');
      if ($(this).prop('checked')) {
        $('tr[data-status-category="' + statusCategory + '"]').show();
      } else {
        $('tr[data-status-category="' + statusCategory + '"]').hide();
      }

      var $statusCategoryOptions = $('input[data-status-category]');
      var selectedStatusCategories = $statusCategoryOptions.filter(function(_, el) {
        return $(el).prop('checked');
      }).map(function(_, el) {
        return $(el).data('status-category');
      }).toArray();
      var unselectedStatusCategories = $statusCategoryOptions.filter(function(_, el) {
        return !$(el).prop('checked');
      }).map(function(_, el) {
        return $(el).data('status-category');
      }).toArray();
      if (unselectedStatusCategories.length > 0) {
        $('#status-filter-icon').removeClass('disabled');
        history.pushState({}, "", "?filter_status=" + selectedStatusCategories.join(','))
      } else {
        $('#status-filter-icon').addClass('disabled');
        history.pushState({}, "", "?");
      }
    });
  });
</script>