<% content_for :nav_content do %>
  <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
  <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
  <a href="#!" class="breadcrumb">Scatterplot</a>
<% end %>

<%= render partial: 'partials/cycle_time_form' %>
<%= render partial: 'partials/chart' %>
