<% breadcrumb :report, @board, :timesheets, 'Timesheets' %>

<h3>Timesheets for <%= @board.name %></h3>

<div style="width: 50%;">
  <div class="ui text menu">
    <a class="browse item" id="jump-to">
      Jump to time period...
      <i class="dropdown icon"></i>
    </a>
  </div>
  <div class="ui basic fluid popup">
    <div class="ui two column relaxed divided grid">
      <div class="column">
        <h4 class="ui header">Month</h4>
        <div class="ui link list">
          <% @timesheet_options.month_periods.each do |label, date_range| %>
              <a class="item quicklink"
                   data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
                   data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
              >
                <%= label %>
              </a>
          <% end %>
        </div>
      </div>
      <div class="column">
        <h4 class="ui header">Timesheet period</h4>
        <div class="ui link list">
          <% @timesheet_options.timesheet_periods.each do |label, date_range| %>
              <a class="item quicklink"
                   data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
                   data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
              >
                <%= label %>
              </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.quicklink').click(function() {
      var startPicker = $('#from_date').pickadate('picker');
      startPicker.set('select', $(this).data('start'), {format: 'yyyy-mm-dd'});

      var endPicker = $('#to_date').pickadate('picker');
      endPicker.set('select', $(this).data('end'), {format: 'yyyy-mm-dd'});

      $('#search-submit').click();
    });

    $('.menu').popup({
      hoverable: true
    });
  });
</script>

<%= render partial: 'partials/search_form' %>

<script>
  $(function() {
    fetchData();
  })

  function fetchData() {
    var url = buildComponentUrl('<%= board_components_path(@board) %>/timesheets');
    $('#list').empty();
    $('#list').load(url);
  }
</script>

<div id="list"></div>