<% breadcrumb :report, @board, :timesheets, 'Timesheets' %>

<h3>Quick Links</h3>

<div id="month-dropdown" class="ui selection dropdown">
  <div class="text">Select Month</div>
  <input type="hidden" value="<%= @timesheet_options.selected_month_period %>" />
  <i class="dropdown icon"></i>
  <div class="menu">
    <% @timesheet_options.month_periods.each do |label, date_range| %>
        <div class="item"
             data-value="<%= label %>"
             data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
             data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
        >
          <%= label %>
        </div>
    <% end %>
  </div>
</div>

<% unless @timesheet_options.timesheet_periods.nil? %>
<div id="timesheet-dropdown" class="ui selection dropdown">
  <div class="text">Select Timesheet Period</div>
  <input type="hidden" value="<%= @timesheet_options.selected_timesheet_period %>" />
  <i class="dropdown icon"></i>
  <div class="menu">
    <% @timesheet_options.timesheet_periods.each do |label, date_range| %>
        <div class="item"
             data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
             data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
        >
          <%= label %>
        </div>
    <% end %>
  </div>
</div>
<% end %>

<script>
  $(function() {
    $('#month-dropdown, #timesheet-dropdown').dropdown({
      onChange: function(value, text, $selectedItem) {
        var startPicker = $('#from_date').pickadate('picker');
        startPicker.set('select', $selectedItem.data('start'), {format: 'yyyy-mm-dd'});

        var endPicker = $('#to_date').pickadate('picker');
        endPicker.set('select', $selectedItem.data('end'), {format: 'yyyy-mm-dd'});
      }
    });
  });
</script>

<h3>Issues for <%= @board.name %></h3>

<%= render partial: 'partials/search_form' %>

<script>
  $(function() {
    fetchData();
  })

  function fetchData() {
    var url = buildComponentUrl('<%= board_components_path(@board) %>/timesheets');
    $('#list').empty();
    $('#list').load(url);
  }
</script>

<div id="list"></div>