<% breadcrumb :report, @board, :timesheets, 'Timesheets' %>

<h3>Timesheets for <%= @board.name %></h3>

<div class="ui menu">
  <span class="item">
    Jump to time period
  </span>
  <div class="item">
    <div id="month-dropdown" class="ui selection dropdown">
      <div class="text">Select Month</div>
      <input type="hidden" value="<%= @timesheet_options.selected_month_period %>" />
      <i class="dropdown icon"></i>
      <div class="menu">
        <% @timesheet_options.month_periods.each do |label, date_range| %>
            <a class="item quicklink"
               data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
               data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
            >
              <%= label %>
            </a>
        <% end %>
      </div>
    </div>
  </div>
  <% unless @timesheet_options.timesheet_periods.nil? %>
      <div class="item">
        <div id="timesheet-dropdown" class="ui selection dropdown">
          <div class="text">Select Timesheet Period</div>
          <input type="hidden" value="<%= @timesheet_options.selected_timesheet_period %>" />
          <i class="dropdown icon"></i>
          <div class="menu">
            <% @timesheet_options.timesheet_periods.each do |label, date_range| %>
                <a class="item quicklink"
                     data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
                     data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
                >
                  <%= label %>
                </a>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script>
  $(function() {
    $('.quicklink').click(function() {
      var startPicker = $('#from_date').pickadate('picker');
      startPicker.set('select', $(this).data('start'), {format: 'yyyy-mm-dd'});

      var endPicker = $('#to_date').pickadate('picker');
      endPicker.set('select', $(this).data('end'), {format: 'yyyy-mm-dd'});

      $('#search-submit').click();
    });

    $('.dropdown').dropdown();
  });
</script>

<%= render partial: 'partials/search_form' %>

<script>
  $(function() {
    fetchData();
  });

  function fetchData() {
    var url = buildComponentUrl('<%= board_components_path(@board) %>/timesheets');
    $('#list').empty();
    $('#list').load(url);
  }
</script>

<div id="list"></div>