<% breadcrumb :report, @board, :timesheets, 'Timesheets' %>

<h3>Quick Links</h3>

<div id="month-dropdown" class="ui selection dropdown">
  <div class="text">Select Month</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <% @month_periods.each do |label, date_range| %>
        <div class="item" data-url="<%= timesheets_report_path(@board, date_range) %>">
          <%= label %>
        </div>
    <% end %>
  </div>
</div>

<% unless @timesheet_periods.nil? %>
<div id="timesheet-dropdown" class="ui selection dropdown">
  <div class="text">Select Timesheet Period</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <% @timesheet_periods.each do |label, date_range| %>
        <div class="item" data-url="<%= timesheets_report_path(@board, date_range) %>">
          <%= label %>
        </div>
    <% end %>
  </div>
</div>
<% end %>

<script>
  $(function() {
    $('#month-dropdown, #timesheet-dropdown').dropdown({
      onChange: function(value, text, $selectedItem) {
        console.log('hey');
        window.location = $selectedItem.data('url');
        // custom action
      }
    });
  });
</script>

<h3>Issues for <%= @board.name %></h3>

<%= render partial: 'partials/cycle_time_form' %>

<script>
  $(function() {
    fetchData();
    $('input').change(fetchData);
    $('textarea').change(fetchData);
  })

  function fetchData() {
    var url = buildComponentUrl('<%= board_components_path(@board) %>/timesheets');
    $('#list').empty();
    $('#list').load(url);
  }
</script>

<div id="list"></div>