<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="<%= board_path(@domain, @board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="<%= board_issues_path(@domain, @board) %>" class="breadcrumb">Issues</a>
    <a href="#!" class="breadcrumb"><%= @issue.key %></a>
<% end %>

<h3><%= "#{@issue.key} - #{@issue.summary}" %></h3>

<%= erb 'partials/issue'.to_sym, locals: {issue: @issue} %>