<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="<%= board_path(@domain, @board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="<%= board_issues_path(@domain, @board) %>" class="breadcrumb">Issues</a>
    <a href="#!" class="breadcrumb"><%= @issue.key %></a>
<% end %>

<h2><%= "#{@issue.key} - #{@issue.summary}" %></h2>

<table class="striped">
  <thead>
    <tr>
      <th colspan="2">
        Overview
      </th>
    </tr>
  </thead>
  <tr>
    <td>Issue Type</td>
    <td><%= @issue.issue_type %></td>
  </tr>
  <tr>
    <td>Started</td>
    <td><%= @issue.started %></td>
  </tr>
  <tr>
    <td>Completed</td>
    <td><%= @issue.completed %></td>
  </tr>
  <thead>
    <tr>
      <th colspan="2">
        Transitions
      </th>
    </tr>
  </thead>
  <% @issue.transitions.each do |t| %>
      <tr>
        <td><%= Time.parse(t['date']).strftime('%d %b %Y %H:%M') %></td>
        <td><%= t['status'] %></td>
      </tr>
  <% end %>
</table>
