<% breadcrumb :metadata %>

<h1>Domain Metadata</h1>

<div class="ui grid">
  <div class="eight wide column">
    <h3>Statuses</h3>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Jira Category</th>
          <th>Override</th>
        </tr>
      </thead>
      <% @domain.statuses.each do |status, status_category| %>
          <tr>
            <td><%= status %></td>
            <td><%= status_category %></td>
            <td><%= @domain.config.status_category_overrides[status] %></td>
          </tr>
      <% end %>
    </table>
  </div>

  <div class="eight wide column">
    <h3>Fields</h3>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <% @domain.fields.each do |field_hash| %>
          <tr>
            <td><%= field_hash['name'] %></td>
            <td><%= field_hash['type'] %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>