<% content_for :nav_content do %>
    <a href="#!" class="breadcrumb"><%= @domain.config.name %></a>
<% end %>

<script>
  $(function() {
    performSearch();
    $('#search').on('input', performSearch);

    function performSearch() {
      var query = $('#search').val();
      if (query.length > 0) {
        var searchUrl = '<%= domain_path %>/boards/search.json?query=' + query;
        $.get(searchUrl)
            .done(function (data) {
              $('#search-results').empty();
              var collection = $('<ul class="collection"></ul>');
              $(data).each(function (i, board) {
                collection.append(
                    '<li class="collection-item"><a href="' + board.link + '">' + board.name + '</a></li>'
                );
              });
              if (data.length) {
                $('#search-results').append(collection);
              }
            });
      } else {
        $('#search-results').empty();
      }
    }
  });
</script>

<h3>
  <%= @domain.config.name %>
</h3>

<%= render partial: 'partials/sync_status_indicator', locals: { channel: 'JiraTeamMetrics::SyncDomainChannel', model_id: @domain.id } %>

<div class="ui grid">
  <div class="ten wide column">

    <div class="ui secondary menu">
      <a class="item active" data-tab="synced_boards">Synced Boards</a>
      <a class="item" data-tab="search_boards">Search</a>
    </div>
    <div class="ui tab active" data-tab="synced_boards">
      <ul class="collection">
        <% @boards.each do |board| %>
            <li class="collection-item"><%= link_to board.name, board_path(board) %></li>
        <% end %>
      </ul>
    </div>
    <div class="ui tab" data-tab="search_boards">
      <div class="input-field">
        <div class="ui icon input">
          <input id="search" type="text" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div>
      <div id="search-results"></div>
    </div>
  </div>
  <div class="six wide column">
    <%= render partial: 'partials/status_card', locals: { object: @domain } %>
  </div>
</div>
