<% content_for :nav_content do %>
    <a href="#!" class="breadcrumb"><%= @domain.config.name %></a>
<% end %>

<script>
  $(function() {
    performSearch();
    $('#search').on('input', performSearch);

    function performSearch() {
      var query = $('#search').val();
      if (query.length > 0) {
        var searchUrl = '<%= domain_path %>/boards/search.json?query=' + query;
        $.get(searchUrl)
            .done(function (data) {
              $('#search-results').empty();
              var collection = $('<ul class="collection"></ul>');
              $(data).each(function (i, board) {
                collection.append(
                    '<li class="collection-item"><a href="' + board.link + '">' + board.name + '</a></li>'
                );
              });
              if (data.length) {
                $('#search-results').append(collection);
              }
            });
      } else {
        $('#search-results').empty();
      }
    }
  });
</script>

<h3>
  <%= @domain.config.name %>
</h3>

<%= render partial: 'partials/sync_status_indicator', locals: { channel: 'SyncDomainChannel', model_id: @domain.id } %>

<div class="row">
  <div class="col s7">
        <ul class="tabs">
          <li class="tab col s3"><a href="#synced_boards">Synced Boards</a></li>
          <li class="tab col s3"><a href="#search_boards">Search</a></li>
        </ul>
      <div id="synced_boards">
        <ul class="collection">
          <% @boards.each do |board| %>
              <li class="collection-item"><%= link_to board.name, board_path(board) %></li>
          <% end %>
        </ul>
      </div>
      <div id="search_boards">
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
        <div id="search-results"></div>
      </div>
  </div>
  <div class="col s5">
    <%= render partial: 'partials/status_card', locals: { object: @domain } %>
  </div>
</div>
