<script>
  $(function() {
    performSearch();
    $('#search').on('input', performSearch);

    function performSearch() {
      var query = $('#search').val();
      if (query.length > 0) {
        var searchUrl = '<%= domain_path %>/boards/search.json?query=' + query;
        $.get(searchUrl)
            .done(function (data) {
              $('#search-results').empty();
              var collection = $('<div class="ui list"></div>');
              $(data).each(function (i, board) {
                collection.append(
                    '<a class="item" href="' + board.link + '">' + board.name + '</a>'
                );
              });
              if (data.length) {
                $('#search-results').append(collection);
              }
            });
      } else {
        $('#search-results').empty();
      }
    }
  });
</script>

<h1>
  <%= @domain.config.name %>
</h1>

<%= render partial: 'partials/sync_status_indicator', locals: { channel: 'JiraTeamMetrics::SyncDomainChannel', model_id: @domain.id } %>

<div class="ui grid">
  <div class="ten wide column">
    <table class="ui table">
      <thead>
        <tr>
          <th>Synchronized Boards</th>
          <th style="width: 200px;">Last Synchronized</th>
        </tr>
      </thead>
      <% @boards.each do |board| %>
          <tr>
            <td><%= link_to board.name, board_path(board) %></td>
            <td><%= pretty_print_time(board.last_synced) %></td>
          </tr>
      <% end %>
    </table>

    <div class="ui segment">
      <div class="input-field">
        <div class="ui icon fluid input">
          <input id="search" type="text" placeholder="Search all boards...">
          <i class="search icon"></i>
        </div>
      </div>
      <div id="search-results" style="height: 200px; overflow-y: hidden; margin: 10px 0;"></div>
    </div>
  </div>
  <div class="six wide column">
    <%= render partial: 'partials/status_card', locals: { object: @domain } %>
  </div>
</div>
