<script>
  (function() {
    var chartBuilder = new ChartBuilder('<%= chart_id %>')
        .chartOpts(<%= chart_opts.html_safe %>)
        .url('<%= url %>')
        .chartType('<%= chart_type %>');

    <% if defined?(select_handler) %>
        chartBuilder.selectHandler(<%= select_handler %>);
    <% end %>


    var chart = chartBuilder.build();

    if (typeof _charts == 'undefined') {
      _charts = {};
    }
    _charts['<%= chart_id %>'] = chart;

    $('#ct-states input, #ct-states textarea').change(chart.refresh);
  })();
</script>

<div id="<%= chart_id %>" style="height: 500px;">
</div>
