<script>
  $(function() {
    var chartBuilder = new ChartBuilder('<%= chart_id %>')
        .url("<%= url %>")
        .chartType('<%= chart_type %>');

    <% if defined?(chart_opts) %>
        chartBuilder.chartOpts(<%= chart_opts.html_safe %>)
    <% end %>

    <% if defined?(select_handler) %>
        chartBuilder.selectHandler(<%= select_handler %>);
    <% end %>


    var chart = chartBuilder.build();
    google.charts.setOnLoadCallback(chart.refresh);

    if (typeof _charts == 'undefined') {
      _charts = {};
    }
    _charts['<%= chart_id %>'] = chart;

    $('#search-form input, #search-form textarea, #search-form select').change(chart.refresh);
  })();
</script>

<div id="<%= chart_id %>">
</div>
