<div id="ct-states">
  <form id="filter-params" class="ui form grid">
    <div class="eight wide column">
      <div class="field">
        <label>Query</label>
        <textarea class="mono" id="query" name="query"><%= @board.config_property('default_query') %></textarea>
      </div>
    </div>
    <div class="eight wide column">
      <div class="fields">
        <div class="eight wide field">
          <label for="from_date">From Date</label>
          <input name="from_date" id="from_date" type="text" class="datepicker"
                 data-value="<%= @chart_params.date_range.start_date.strftime('%Y-%m-%d') %>">
        </div>
        <div class="eight wide field">
          <label for="to_date">To Date</label>
          <input name="to_date" id="to_date" type="text" class="datepicker"
                 data-value="<%= @chart_params.date_range.end_date.strftime('%Y-%m-%d') %>">
        </div>
      </div>
      <div class="ui styled accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          Help with query language
        </div>
        <div class="content">
          <p><strong>Select by field:</strong>
            <br><span class="mono">key = 'ISSUE-101'</span>
            <br><span class="mono">issue_type = 'Story'</span>
            <br><span class="mono">Teams includes 'Android'</span>
          </p>
          <p><strong>Applying filters:</strong>
            <br><span class="mono">filter = 'MyFilter'</span>
          </p>
          <p><strong>Set operations:</strong>
            <br><span class="mono">not filter = 'MyFilter'</span>
            <br><span class="mono">filter = 'MyFilter' and issue_type = 'Bug'</span>
            <br><span class="mono">not (filter = 'MyFilter' or issue_type = 'Bug')</span>
          </p>
          <p><strong>Date ranges (end-exclusive):</strong>
            <br><span class="mono">between ('2018-01-01', '2018-06-01')</span>
          </p>
          <p><strong>Filters for this board:</strong>
            <br><span class="mono"><%= @board.filters.map{ |filter| filter.name }.join(', ') %></span>
          </p>
          <p><strong>Issue types for this board:</strong>
            <br><span class="mono"><%= @board.issue_types.join(', ') %></span>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  $(function() {
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      formatSubmit: 'yyyy-mm-dd',
      hiddenName: true,
      max: true,
      container: '#pickadate-container',
      onClose : function()
      {
        this.$holder.blur();
      }
    });
  });

  function buildComponentUrl(path) {
    return path + '?' + $('#filter-params').serialize();
  }
</script>
