<div class="row" id="ct-states">
  <form id="filter-params" class="col s6">
    <div class="row">
      <div class="input-field col s6">
        <input name="from_state" id="from_state" type="text" class="validate state" autocomplete="off" value="<%= @board.config_hash['default_from_state'] %>">
        <label for="from_state">From State</label>
      </div>
      <div class="input-field col s6">
        <input name="to_state" id="to_state" type="text" class="validate state" autocomplete="off" value="<%= @board.config_hash['default_to_state'] %>">
        <label for="to_state">To State</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="mono materialize-textarea" id="query" name="query"><%= @board.config_hash['default_query'] %></textarea>
        <label for="query">Query</label>
      </div>
    </div>
  </form>
  <div class="col s6">
    <ul class="collapsible popout" data-collapsible="expandable">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">info_outline</i>
          Help with query language
        </div>
        <div class="collapsible-body">
          <p>Select by field:
            <br><span class="mono">key = 'ISSUE-101'</span>
            <br><span class="mono">issue_type = 'Story'</span>
          </p>
          <p>Applying filters:
            <br><span class="mono">filter = 'MyFilter'</span>
          </p>
          <p>Set operations:
            <br><span class="mono">not filter = 'MyFilter'</span>
            <br><span class="mono">filter = 'MyFilter' and issue_type = 'Bug'</span>
            <br><span class="mono">not (filter = 'MyFilter' or issue_type = 'Bug')</span>
          </p>
          <p>Filters for this board:
            <br><span class="mono"><%= @board.filters.map{ |filter| filter.name }.join(', ') %></span>
          </p>
          <p>Issue types for this board:
            <br><span class="mono"><%= @board.issue_types.join(', ') %></span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  $(function() {
    $('.state').autocomplete({
      data: {
        <% @domain['statuses'].each do |status, _| %>
        "<%= status.html_safe %>": null,
        <% end %>
      }
    });
  });

  function buildComponentUrl(path) {
    return path + '?' + $('#filter-params').serialize();
  }
</script>
