<div class="row">
  <h5><%= report_name %></h5>
  <table class="col s4">
    <thead>
      <tr>
        <th colspan="2">Summary</th>
      </tr>
    </thead>
    <tr>
      <td style="width: 40%;">
        Scope
      </td>
      <td>
        <%= report.scope.count %>
        [<%= report.predicted_scope.count %>]
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        Completed
      </td>
      <td>
        <%= report.completed_scope.count %>
        (<%= pretty_print_number(100.0 * report.completed_scope.count / report.scope.count) %>%)
      </td>
    </tr>
  </table>
  <div class="col s1"></div>
  <table class="col s7">
    <thead>
      <tr>
        <th>Rolling Timeframe</th>
        <th>Completion Rate</th>
        <th>Forecast Completion</th>
      </tr>
    </thead>
    <tr>
      <td>Last 14</td>
      <td>
        <%= pretty_print_number(report.rolling_completion_rate(14) * 7) %> / week
        (every <%= pretty_print_number(1.0 / report.rolling_completion_rate(14)) %> days)
      </td>
      <td>
        <%= pretty_print_date(report.rolling_forecast_completion_date(14), show_tz: false) %>
      </td>
    </tr>
    <tr>
      <td>Last 30</td>
      <td>
        <%= pretty_print_number(report.rolling_completion_rate(30) * 7) %> / week
        (every <%= pretty_print_number(1.0 / report.rolling_completion_rate(30)) %> days)
      </td>
      <td>
        <%= pretty_print_date(report.rolling_forecast_completion_date(30), show_tz: false) %>
      </td>
    </tr>
  </table>
</div>
