<div class="<%= 'active' if expand %> title">
  <i class="dropdown icon"></i>
  <span><%= issue.key %> - <%= issue.short_summary %></span>
  <a id="launch-<%= issue.key %>" class="right" href="<%= issue.domain_url %>" target="_blank">
    <i class="material-icons" style="margin: 0;">launch</i>
  </a>
</div>
<div class="<%= 'active' if expand %> content">
  <table class="ui definition table issue-details">
    <tr>
      <td>Issue Type</td>
      <td><%= issue.issue_type %></td>
    </tr>
    <tr>
      <td>Summary</td>
      <td><%= issue.summary %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><%= issue.status %></td>
    </tr>
    <tr>
      <td>Created</td>
      <td><%= pretty_print_date(issue.issue_created) %></td>
    </tr>
  </table>
</div>

<script>
$('#launch-<%= issue.key %>').on('click.collapse', function(e) {
  e.stopPropagation();
});
</script>
