<div class="<%= 'active' if expand %> title">
  <i class="dropdown icon"></i>
  Transitions
</div>
<div class="<%= 'active' if expand %> content">
  <table class="issue-details ui table">
    <% issue.transitions.each do |t| %>
        <tr>
          <td><%= pretty_print_time(DateTime.parse(t['date'])) %></td>
          <td class="right-align <%= @domain.status_color_for(t['fromStatusCategory']) %> lighten-4"><%= t['fromStatus'] %></td>
          <td>&rarr;</td>
          <td class="<%= @domain.status_color_for(t['toStatusCategory']) %> lighten-4"><%= t['toStatus'] %></td>
        </tr>
    <% end %>
  </table>
</div>

