<li>
  <div class="collapsible-header<%= ' active' if expand %>">Cycle Time and Churn</div>
  <div class="collapsible-body">
    <table class="issue-details">
      <tr>
        <th>Started</th>
        <td><%= pretty_print_time(issue.started_time) %></td>
      </tr>
      <tr>
        <th>Completed</th>
        <td><%= pretty_print_time(issue.completed_time) %></td>
      </tr>
      <tr>
        <th>Days</th>
        <td><%= pretty_print_number(issue.cycle_time) %></td>
      </tr>
      <tr>
        <th>Churn</th>
        <td><%= pretty_print_number(issue.churn_metrics[:score]) %>%</td>
      </tr>
      <tr>
        <th>Review Time</th>
        <td><%= pretty_print_number(issue.churn_metrics[:review_time]) %>%</td>
      </tr>
      <tr>
        <th>Test Time</th>
        <td><%= pretty_print_number(issue.churn_metrics[:test_time]) %>%</td>
      </tr>
    </table>
  </div>
</li>
