<div class="issue-header">
  <h2 class="ui header">
    <%= issue.key %>
    -
    <%= issue.summary %>
  </h2>
  <a target="_blank" href="<%= issue.domain_url %>">
    <i class="external alternate icon"></i>Open in Jira
  </a>
</div>

<div class="ui grid">
  <div class="nine wide column">
    <h4 class="ui top attached block header">
      Summary
    </h4>
    <div class="ui bottom attached segment">
      <%= render partial: 'partials/issue_summary', locals: { issue: issue } %>
    </div>
    <% if @issue.is_epic? %>
        <h4 class="ui top attached block header">
          Issues in Epic
        </h4>
        <div class="ui bottom attached segment">
          <%= render partial: 'partials/issues_list', locals: { issues: issues_in_epic(issue), show_dates: false } %>
        </div>
    <% end %>
    <h4 class="ui top attached block header">
      Issue Links
    </h4>
    <div class="ui bottom attached segment">
      <%= render partial: 'partials/issue_links', locals: { issue: issue } %>
    </div>
  </div>
  <div class="seven wide column">
    <% unless issue.is_scope? %>
        <h4 class="ui top attached block header">
          Reports
        </h4>
        <div class="ui bottom attached segment">
          <p>
            <a class="item" href="<%= progress_report_for(issue) %>">
              <i class="chart line icon"></i>
              Progress Report
            </a>
          </p>
        </div>
    <% end %>
    <h4 class="ui top attached block header">
      Status Changes
    </h4>
    <div class="ui bottom attached segment">
      <%= render partial: 'partials/issue_cycle_times', locals: { issue: issue } %>
      <div class="ui horizontal divider">
        Transitions
      </div>
      <%= render partial: 'partials/issue_transitions', locals: { issue: issue } %>
    </div>
  </div>
</div>
