<li>
  <div class="collapsible-header<%= ' active' if expand %>">
    <span><%= issue.key %> - <%= issue.short_summary %></span>
    <a id="launch-<%= issue.key %>" class="right" href="<%= issue.domain_url %>" target="_blank">
      <i class="material-icons" style="margin: 0;">launch</i>
    </a>
  </div>
  <div class="collapsible-body">
    <table class="issue-details">
      <tr>
        <th>Issue Type</th>
        <td><%= issue.issue_type %></td>
      </tr>
      <tr>
        <th>Summary</th>
        <td><%= issue.summary %></td>
      </tr>
      <tr>
        <th>Epic</th>
        <td><%= issue.epic.key %> - <%= issue.epic.summary %></td>
      </tr>
    </table>
  </div>
</li>
<script>
  $('#launch-<%= issue.key %>').on('click.collapse', function(e) {
    e.stopPropagation();
  });
</script>
