<li>
  <div class="collapsible-header<%= ' active' if expand %>">Fields</div>
  <div class="collapsible-body">
    <table class="issue-details">
      <tr>
        <th>Labels</th>
        <td>
          <% issue.labels.each do |label| %>
              <div class="chip"><%= label %></div>
          <% end %>
        </td>
      </tr>

      <% issue.fields.keys.each do |field_name| %>
          <tr>
            <th><%= field_name %></th>
            <% if field_name == 'Epic Link' %>
                <td><%= issue.epic.key %> - <%= issue.epic.summary %></td>
            <% else %>
                <td><%= issue_field(issue, field_name) %></td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>
</li>
