<% issues = epic.issues(recursive: false) %>

<% if issues.any? %>
    <table class="ui very basic table issues-in-epic">
      <thead>
        <th></th>
        <% if show_dates %>
            <th>Started</th>
            <th></th>
            <th>Completed</th>
        <% end %>
        <th>Status</th>
        <th></th>
      </thead>
      <tbody>
      <% issues.sort_by{ |issue| issue.started_time || DateTime.now }.each_with_index do |issue, index| %>
          <tr class="<%= 'below-fold hidden' if index >= 3 %>">
            <td>
              <%= issue_summary(issue) %>
            </td>
            <% if show_dates %>
                <td class="collapsing"><%= pretty_print_date(issue.started_time, show_tz: false) %></td>
                <td>&rarr;</td>
                <td class="collapsing">
                  <%= pretty_print_date(issue.completed_time, show_tz: false) %>
                </td>
            <% end %>
            <td class="collapsing">
              <div class="ui <%= @domain.status_color_for(issue.status_category) %> label">
                <%= issue.status %>
              </div>
            </td>
            <td class="collapsing">
              <a class="right floated" href="<%= issue.domain_url %>" target="_blank">
                <i class="external alternate icon"></i>
              </a>
            </td>
          </tr>
      <% end %>
      <% if issues.length > 3 %>
          <tr>
            <td colspan="5">
              <a href="#" class="show-more">Show <%= issues.length - 3 %> more</a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <span>None</span>
<% end %>

