<table class="ui very basic table issue-fields">
  <tr>
    <td>Created</td>
    <td><%= pretty_print_date(issue.issue_created) %></td>
  </tr>
  <tr>
    <td>Labels</td>
    <td>
      <% if issue.labels.any? %>
        <% issue.labels.each do |label| %>
            <span class="ui label"><%= label %></span>
        <% end %>
      <% else %>
        None
      <% end %>
    </td>
  </tr>

  <% issue.fields.keys.each do |field_name| %>
      <tr>
        <td><%= field_name %></td>
        <% if field_name == 'Epic Link' %>
            <td>
              <a class="right floated" href="<%= issue.epic.domain_url %>" target="_blank">
                <i class="external alternate icon"></i>
              </a>
              <%= issue_summary(issue.epic) %>
            </td>
        <% else %>
            <td><%= issue_field(issue, field_name) %></td>
        <% end %>
      </tr>
  <% end %>

</table>
