<div id="search-form">
  <div class="ui tiny menu">
    <span class="item">
      Jump to time period
    </span>
    <div class="item">
      <div id="month-dropdown" class="ui selection dropdown">
        <div class="text">Select Month</div>
        <input type="hidden" value="<%= @timesheet_options.selected_month_period %>" />
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Months</div>
          <% @timesheet_options.month_periods.each do |label, date_range| %>
              <a class="item quicklink"
                 data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
                 data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
              >
                <%= label %>
              </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="item">
      <div id="relative-dropdown" class="ui selection dropdown">
        <div class="text">Select Relative Timeframe</div>
        <input type="hidden" value="<%= @timesheet_options.selected_relative_period %>" />
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">Relative Timeframes</div>
          <% @timesheet_options.relative_periods.each do |label, date_range| %>
              <a class="item quicklink"
                 data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
                 data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
              >
                <%= label %>
              </a>
          <% end %>
        </div>
      </div>
    </div>
    <% unless @timesheet_options.timesheet_periods.nil? %>
        <div class="item">
          <div id="timesheet-dropdown" class="ui selection dropdown">
            <div class="text">Select Timesheet Period</div>
            <input type="hidden" value="<%= @timesheet_options.selected_timesheet_period %>" />
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="header">Timesheet Periods</div>
              <% @timesheet_options.timesheet_periods.each do |label, date_range| %>
                  <a class="item quicklink"
                     data-start="<%= date_range.start_date.strftime('%Y-%m-%d') %>"
                     data-end="<%= date_range.end_date.strftime('%Y-%m-%d') %>"
                  >
                    <%= label %>
                  </a>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <form id="filter-params" class="ui form">
    <div class="fields">
      <div class="two wide field">
        <label for="from_date">From Date</label>
        <input name="from_date" id="from_date" type="text" class="datepicker"
               data-value="<%= @report_params.date_range.start_date.strftime('%Y-%m-%d') %>">
      </div>
      <div class="two wide field">
        <label for="to_date">To Date</label>
        <input name="to_date" id="to_date" type="text" class="datepicker"
               data-value="<%= @report_params.date_range.end_date.strftime('%Y-%m-%d') %>">
      </div>
      <div class="four wide field">
        <label for="filter">Filter</label>
        <select name="filter" class="ui dropdown" id="filter">
          <option value="">None</option>
          <% @board.filters.each do |filter| %>
              <option value="<%= filter.name %>" <%= 'selected' if @report_params.filter == filter.name %>>
                <%= filter.name %>
              </option>
          <% end %>
        </select>
      </div>
      <div class="four wide field">
        <label for="hierarchy_level">Hierarchy Level</label>
        <select name="hierarchy_level" class="ui dropdown" id="hierarchy_level">
          <% [['Scope', 'Scope'], ['Epic', 'Epic'], ['Project', projects_name_singular]].each do |level, level_name| %>
              <option value="<%= level %>" <%= 'selected' if @report_params.hierarchy_level == level %>>
                <%= level_name %>
              </option>
          <% end %>
        </select>
      </div>
      <% if defined?(show_step_interval) && show_step_interval %>
          <div class="four wide field">
            <label for="step_interval">Step Interval</label>
            <select name="step_interval" class="ui dropdown" id="step_interval">
              <% ['Daily', 'Weekly', 'Monthly'].each do |interval| %>
                  <option value="<%= interval %>" <%= 'selected' if @report_params.step_interval == interval %>>
                    <%= interval %>
                  </option>
              <% end %>
            </select>
          </div>
      <% end %>
    </div>
    <div class="fields">
      <div class="sixteen wide field">
        <label>Query <a id="query-help"><i class="question circle outline icon"></i></a>
          <div class="ui fluid popup">
            <%= render partial: 'partials/query_help' %>
          </div>
        </label>
        <div class="ui action input">
          <input type="text" class="mono" id="query" name="query" value="<%= @report_params.query %>"/>
          <button class="ui button" type="submit" id="search-submit" name="search-submit">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  $(function() {
    $('#filter, #hierarchy_level').dropdown({
      placeholder: false
    });

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      formatSubmit: 'yyyy-mm-dd',
      hiddenName: true,
      max: true,
      container: '#pickadate-container',
      onClose : function()
      {
        this.$holder.blur();
      }
    });

    $('#query-help').popup({
      inline: true
    });

    $('#from_date, #to_date, #filter, #hierarchy_level, #step_interval').change(function() {
      $('#search-submit').click();
    });

    $(function() {
      $('.quicklink').click(function() {
        var startPicker = $('#from_date').pickadate('picker');
        startPicker.set('select', $(this).data('start'), {format: 'yyyy-mm-dd'});

        var endPicker = $('#to_date').pickadate('picker');
        endPicker.set('select', $(this).data('end'), {format: 'yyyy-mm-dd'});

        $('#search-submit').click();
      });

      $('.dropdown').dropdown();
    });
  });

  function buildComponentUrl(path) {
    return path + '?' + $('#filter-params').serialize();
  }
</script>
