<% @credentials = JiraTeamMetrics::Credentials.new unless @credentials %>
<form id="sync-form" class="ui form grid <%= 'error' if @credentials.errors.any? %>">
  <div class="sixteen wide column">
    <% if @credentials.errors[:base].any? %>
        <div class="ui error message">
          <% @credentials.errors[:base].each do |error| %>
              <span class="error"><%= error %></span>
          <% end %>
        </div>
    <% end %>
  </div>

  <% if env_credentials? %>
    <div class="eight wide column">
      <input type="text" value="<%= ENV['JIRA_USERNAME'] %>" disabled="disabled" />
    </div>
    <div class="eight wide column">
      <input type="text" value="****" disabled="disabled" />
    </div>
<% else %>
    <div class="eight wide column">
      <%= form_input(@credentials, :username) %>
    </div>
    <div class="eight wide column">
      <%= form_input(@credentials, :password, type: :password) %>
    </div>
  <% end %>

  <% unless @board.nil? %>
      <div class="eight wide column">
        <label for="months">Months to sync (Optional)</label>
        <input id="months" name="months" type="text" class="validate" value="<%= @board.config.sync.months %>">
      </div>
  <% end %>
</form>
