<table class="bordered issue-details">
  <thead>
    <tr>
      <th style="width: 45%;">Epic</th>
      <th style="width: 45%;">Issues</th>
      <th style="width: 10%;">Days</th>
    </tr>
  </thead>
  <% issues_by_epic.each do |epic, issues| %>
      <% first, rest = issues.first, issues[1..issues.length] %>
      <tr>
        <td rowspan="<%= issues.length %>">
          <%= epic.nil? ? 'None' : epic.display_name %>
        </td>
        <td>
          <%= first.display_name %>
        </td>
        <td>
          <%= pretty_print_number first.duration_in_range %>
        </td>
      </tr>
      <% rest.each do |issue| %>
          <tr>
            <td>
              <%= issue.display_name %>
            </td>
            <td>
              <%= pretty_print_number issue.duration_in_range %>
            </td>
          </tr>
      <% end %>

  <% end %>
</table>