<%
   total_duration = @filtered_issues.empty? ? 0 : @filtered_issues.map{ |i| i.duration_in_range(@report_params.date_range) }.sum
%>

<table class="ui basic compact selectable table jira-tree">
  <thead>
    <tr>
      <th style="width: 90%">Issue</th>
      <th colspan="2" style="width: 10%">Days in status</th>
    </tr>
  </thead>

  <% epics_by_project.each do |project, issues_by_epic| %>
      <% project_duration = issues_by_epic.values.flatten.map{ |i| i.duration_in_range(@report_params.date_range) }.sum %>
      <tr class="project">
        <td>
          <% if project.nil? %>
              None
          <% else %>
              <%= project['issue']['key'] %>
              (<a href="<%= external_link_url(project, @domain) %>" target="_blank">
                <i class="external alternate icon"></i></a>)
              &mdash; <%= project['issue']['summary'] %>
          <% end %>
        </td>
        <td class="effort-stats">
          <%= pretty_print_number(project_duration) %>
        </td>
        <td class="effort-stats">
          (<%= pretty_print_number(project_duration / total_duration * 100) %>%)</span>
        </td>
      </tr>

      <% issues_by_epic.each do |epic, issues| %>
          <% epic_duration = issues.map{ |i| i.duration_in_range(@report_params.date_range) }.sum %>
          <tr class="epic">
            <td>
              <% if epic.nil? %>
                  None
              <% else %>
                  <%= link_to(epic.key, epic) %>
                  (<a href="<%= epic.domain_url %>" target="_blank">
                    <i class="external alternate icon"></i></a>)
                  &mdash; <%= epic.summary %>
              <% end %>
            </td>
            <td class="effort-stats">
              <%= pretty_print_number(epic_duration) %>
            </td>
            <td class="effort-stats">
              (<%= pretty_print_number(epic_duration / total_duration * 100) %>%)</span>
            </td>
          </tr>

          <% issues.each do |issue| %>
              <tr class="story">
                <td>
                  <%= link_to(issue.key, issue) %>
                  (<a href="<%= issue.domain_url %>" target="_blank">
                    <i class="external alternate icon"></i></a>)
                  &mdash; <%= issue.summary %>
                </td>
                <td class="effort-stats">
                  <%= pretty_print_number(issue.duration_in_range(@report_params.date_range)) %>
                </td>
                <td class="effort-stats">
                  (<%= pretty_print_number(issue.duration_in_range(@report_params.date_range) / total_duration * 100) %>%)</span>
                </td>
              </tr>
          <% end %>
      <% end %>
  <% end %>

</table>