<script>
  $(function() {
    $('.sync-button').click(function() {
      $(this).hide();
      $(this).siblings('.sync-spinner').show();

      var target = $(this).attr('href');
      $.get(target);
      return false;
    });
  });

  $(function(){
    $('#add-domain-modal').modal({
      complete: function() {
        $.post('<%= domains_path %>', $( "#add-domain" ).serialize());
      }
    });
  });

  App.cable.subscriptions.create("SyncChannel",
      {
        received: function (data) {
          var row = $('#domain-row-' + data.domain);
          row.find('.sync-spinner').hide();
          row.find('.sync-button').show();
        }
      });

</script>

<h3>Domains</h3>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Url</td>
      <td></td>
    </tr>
  </thead>
  <% @domains.each do |domain| %>
      <tr id="domain-row-<%= domain.id %>">
        <td><%= domain['name'] %></td>
        <td><%= domain['url'] %></td>
        <td>
          <a href="<%= domain_path(domain) %>" class="waves-effect waves-light btn">
            View Details
          </a>

          <a href="<%= domain_path(domain) %>/sync" class="sync-button waves-effect waves-light btn">
            Process
          </a>
          <div class="sync-spinner preloader-wrapper small active" style="vertical-align: middle; display: none;">
            <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
</table>

<div class="fixed-action-btn">
  <a href="#add-domain-modal" class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Modal Structure -->
<div id="add-domain-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Add Domain</h4>
    <form id="add-domain" class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s8">
          <input id="url" type="text" class="validate">
          <label for="url">URL</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="waves-effect waves-light btn modal-close">
      Add
    </a>
  </div>
</div>