<script>
  $(function() {
    $('.sync-button').click(function() {
      $(this).hide();
      $(this).siblings('.sync-spinner').show();

      var target = $(this).attr('href');
      $.get(target);
      return false;
    });

    $('.destroy-confirm').click(function() {
      var target = $(this).attr('href');
      $.ajax({ url: target, type: 'DELETE' })
          .done(function(data) {
            window.location = data.target;
          })
          .fail(function() {
            alert('Unexpected error. Please raise a bug at github.com/jbrunton/jira-team-metrics.');
          });
      return false;
    });
  });

  $(function(){
    $('.modal').modal();
    //$('#add-domain-modal').modal();
    $('#submit').click(function() {
      $.post('<%= domains_path %>', $( "#add-domain" ).serialize())
            .done(function(data) {
              window.location = data.target;
            })
            .fail(function(data) {
              if (data.status == 400) {
                // validation error
                $('#form-content').html(data.responseText);
              } else {
                alert('Unexpected error. Please raise a bug at github.com/jbrunton/jira-team-metrics.');
              }
            });
    });
  });

</script>

<h3>Domains</h3>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Url</td>
      <td></td>
    </tr>
  </thead>
  <% @domains.each do |domain| %>
      <tr id="domain-row-<%= domain.id %>">
        <td><%= domain['name'] %></td>
        <td><%= domain['url'] %></td>
        <td>
          <a href="<%= domain_path(domain) %>" class="waves-effect waves-light btn">
            View Details
          </a>

          <a class="waves-effect waves-light btn red lighten-2" href="#destroy-modal-<%= domain.id %>">
            <i class="material-icons left">delete</i>
            Delete
          </a>

          <!-- Modal Structure -->
          <div id="destroy-modal-<%= domain.id %>" class="modal">
            <div class="modal-content">
              <h4>Delete domain?</h4>
              <p>Are you sure you want to delete the domain <b><%= domain.name %></b>?</p>
            </div>
            <div class="modal-footer">
              <a href="<%= domain_path(domain) %>" class="destroy-confirm modal-action waves-effect waves-green btn-flat">Delete</a>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
</table>

<div class="fixed-action-btn">
  <a href="#add-domain-modal" class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Modal Structure -->
<div id="add-domain-modal" class="modal">
  <div id='form-content' class="modal-content">
    <%= render 'form' %>
  </div>
  <div class="modal-footer">
    <a id="submit" href="#" class="waves-effect waves-light btn">
      Add
    </a>
  </div>
</div>

<!-- Modal Structure -->
<div id="destroy" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a id='confirm-destroy' href="#!" class="modal-action waves-effect waves-green btn-flat">Delete</a>
  </div>
</div>