<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Domains</a>
    <a href="#!" class="breadcrumb"><%= @domain['name'] %></a>
<% end %>

<h3><%= @domain['name'] %></h3>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Last Updated</td>
      <td></td>
    </tr>
  </thead>
  <% @boards.each do |board| %>
      <tr>
        <td><%= board.name %></td>
        <td><%= board.last_updated %></td>
        <td>
          <a href="<%= board_path(@domain, board) %>" class="waves-effect waves-light btn">
            Summary
          </a>
          <a href="<%= board_issues_path(@domain, board) %>" class="waves-effect waves-light btn">
            Issues
          </a>
        </td>
      </tr>
  <% end %>
</table>
