<% content_for :nav_content do %>
    <a href="<%= domains_path %>" class="breadcrumb">Domains</a>
    <a href="#!" class="breadcrumb"><%= @domain['name'] %></a>
<% end %>

<script>
  $(function() {
    $('.modal').modal();

    $('#sync').click(function() {
      $.post('<%= domain_path(@domain) %>/sync', $( "#sync-form" ).serialize())
          .done(function() {
            $('.modal').modal('close');
          })
          .fail(function(data) {
            if (data.status == 400) {
              // validation error
              $('.modal-content').html(data.responseText);
            } else {
              alert('Unexpected error. Please raise a bug at github.com/jbrunton/jira-team-metrics.');
            }
          });
    });

    performSearch();
    $('#search').on('input', performSearch);

    function performSearch() {
      var query = $('#search').val();
      if (query.length > 0) {
        var searchUrl = '<%= domain_path(@domain) %>/boards/search.json?query=' + query;
        $.get(searchUrl)
            .done(function (data) {
              $('#search-results').empty();
              var collection = $('<ul class="collection"></ul>');
              $(data).each(function (i, board) {
                collection.append(
                    '<li class="collection-item"><a href="' + board.link + '">' + board.name + '</a></li>'
                );
              });
              if (data.length) {
                $('#search-results').append(collection);
              }
            });
      } else {
        $('#search-results').empty();
      }
    }

    $('#update-config').click(function () {
      $.post('<%= domain_path(@domain) %>', $("#config-form").serialize())
              .done(function () {
                location.reload();
              })
              .fail(function (data) {
                if (data.status == 400) {
                  // validation error
                  $('#config-modal-content').html(data.responseText);
                } else {
                  alert('Unexpected error. Please raise a bug at github.com/jbrunton/jira-team-metrics.');
                }
              });
    });
  });

  App.cable.subscriptions.create({
    channel: "SyncDomainChannel",
    id: <%= @domain.id %>
  }, {
    received: statusReceived
  });

  function syncIndicatorFor(message) {
    //var id = message.domain + ":" + message.board;
    //console.log("Syncing for " + id + ": " + message);
  }
</script>

<h3>
  <%= @domain['name'] %>
</h3>

<div id="sync-indicator" style="display: none;">
  <p id="sync-status"></p>
  <div class="progress">
    <div id="indicator" class="indeterminate"></div>
  </div>
</div>

<div id="sync-status-container">

</div>

<div class="row">
  <div class="col s8">
        <ul class="tabs">
          <li class="tab col s3"><a href="#synced_boards">Synced Boards</a></li>
          <li class="tab col s3"><a href="#search_boards">Search</a></li>
        </ul>
      <div id="synced_boards">
        <ul class="collection">
          <% @boards.each do |board| %>
              <li class="collection-item"><%= link_to board.name, board_path(@domain, board) %></li>
          <% end %>
        </ul>
      </div>
      <div id="search_boards">
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        </div>
        <div id="search-results"></div>
      </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Sync Status</span>
        <p>Last synced: <%= pretty_print_date(@domain.last_synced) %></p>
      </div>
      <div class="card-action">
        <a href="#sync-modal">Sync</a>
        <a href="#config-modal">Config</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="sync-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <%= render partial: 'shared/sync_form' %>
  </div>
  <div class="modal-footer">
    <a id="sync" href="#" class="waves-effect waves-light btn">
      Sync
    </a>
  </div>
</div>

<div id="config-modal" class="modal bottom-sheet">
  <div id="config-content" class="modal-content">
    <%= render partial: 'config_form' %>
  </div>
  <div class="modal-footer">
    <a id="update-config" href="#" class="waves-effect waves-light btn">
      Update
    </a>
  </div>
</div>