<% content_for :nav_content do %>
    <a href="<%= domains_path %>" class="breadcrumb">Domains</a>
    <a href="#!" class="breadcrumb"><%= @domain['name'] %></a>
<% end %>

<script>
  $(function() {
    $('.modal').modal();

    $('#sync').click(function() {
      $.post('<%= domain_path(@domain) %>/sync', $( "#sync-form" ).serialize())
          .done(function() {
            $('.modal').modal('close');
          })
          .fail(function(data) {
            if (data.status == 400) {
              // validation error
              $('.modal-content').html(data.responseText);
            } else {
              alert('Unexpected error. Please raise a bug at github.com/jbrunton/jira-team-metrics.');
            }
          });
    });
  });

  App.cable.subscriptions.create("SyncChannel",
      {
        received: function (data) {
          if (data.status == 'syncing') {
            $('.progress').show();
          } else if (data.status == 'done') {
            $('.progress').hide();
            location.reload();
          }
        }
      });
</script>

<p class="right">
  <span>Last synced:
    <i><%= pretty_print_date(@domain.last_synced) || 'never' %></i>
    &middot;
  </span>
  <a class="waves-effect waves-light btn" href="#sync-modal"><i class="material-icons left">system_update_alt</i>Sync</a>
</p>
<h3>
  <%= @domain['name'] %>
</h3>

<div class="progress" style="display: none;">
  <div class="indeterminate"></div>
</div>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Last Synced</td>
      <td></td>
    </tr>
  </thead>
  <% @boards.each do |board| %>
      <tr>
        <td><%= board.name %></td>
        <td><%= pretty_print_time(board.last_synced) %></td>
        <td>
          <a href="<%= board_path(@domain, board) %>" class="waves-effect waves-light btn">
            <i class="material-icons left">dashboard</i>Summary
          </a>
          <a href="<%= board_control_chart_path(@domain, board) %>" class="waves-effect waves-light btn">
            <i class="material-icons left">trending_up</i>Control Chart
          </a>
          <a href="<%= board_issues_path(@domain, board) %>" class="waves-effect waves-light btn">
            <i class="material-icons left">list</i>Issues
          </a>
        </td>
      </tr>
  <% end %>
</table>

<!-- Modal Structure -->
<div id="sync-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <%= render partial: 'shared/sync_form' %>
  </div>
  <div class="modal-footer">
    <a id="sync" href="#" class="waves-effect waves-light btn">
      Sync
    </a>
  </div>
</div>