<% content_for :nav_content do %>
    <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="<%= board_issues_path(@board) %>" class="breadcrumb">Issues</a>
    <a href="#!" class="breadcrumb"><%= @issue.key %></a>
<% end %>

<h3><%= "#{@issue.key} - #{@issue.summary}" %></h3>

<%= render partial: 'partials/issue', locals: {issue: @issue, expand: true} %>