<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="<%= board_path(@domain, @board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Control Chart</a>
<% end %>

<h3>Control chart for <%= @board.name %></h3>

<%= erb 'partials/cycle_time_form'.to_sym %>

<div id="chart_div"></div>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});

  $(function() {
    $('form input').change(drawChart);
  });

  function drawChart() {
    $('#selected_content').empty();

    var chart = $('#chart_div');
    //var offset = (chart.width() - $(window).width()) / 2;
    chart.css('height', chart.width() * 0.5);

    var url = buildComponentUrl('<%= board_path(@domain, @board) %>}/api/control_chart.json');

    var jsonData = $.ajax({
      url: url,
      dataType: "json",
      async: false
    }).responseText;

    var data = new google.visualization.DataTable(jsonData);

    var options = {
      hAxis: {
        format: 'd MMM yy'
      },
      vAxes: [
        {
          title: 'Cycle Time',
          minValue: 0,
          viewWindow: {
            min: 0
          }
        },
        {
          title: 'WIP',
          minValue: 0
        }
      ],
      chartArea: {
        width: '85%',
        height: '85%'
      },
      series: {
        0: { pointSize: 4, color: 'indianred' },
        1: { pointSize: 3, color: 'steelblue', targetAxisIndex: 1 },
        2: { lineWidth: 2, pointSize: 0, color: 'indianred' },
        3: { lineWidth: 1.5, pointSize: 0, color: 'steelblue', targetAxisIndex: 1 }
      },
      intervals: {
        style: 'area',
        fillOpacity: 0.15
      },
      interpolateNulls: false
    };

    var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
    google.visualization.events.addListener(chart, 'select', selectHandler);
    chart.draw(data, options);

    function selectHandler() {
      var selection = chart.getSelection()[0];
      if (selection.column == 1) {
        // completed issues column
        var key = data.getValue(selection.row, 2);
        $('#selected_content').load( '<%= board_path(@domain, @board) %>/issues/' + key + '?fragment=true' );
      } else if (selection.column == 3) {
        // WIP column
        var date = data.getValue(selection.row, 0);
        var dateStr = "" + date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
        $('#selected_content').load('<%= board_path(@domain, @board) %>/wip/' + dateStr);
      } else {
        $('#selected_content').empty();
      }
    }
  }

  $(function() {
    google.charts.setOnLoadCallback(drawChart);
  });

</script>

<div id="selected_content"></div>
