<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="<%= board_path(@domain, @board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Issues</a>
<% end %>

<h3>Issues for <%= @board.name %></h3>

<%= erb 'partials/cycle_time_form'.to_sym %>

<script>
  $(function() {
    fetchData();
    $('form input').change(fetchData);
  })

  function fetchData() {
    var url = buildComponentUrl('<%= board_path(@domain, @board) %>/components/issues_list');
    $('#list').empty();
    $('#list').load(url);
  }
</script>

<div id="list"></div>