<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="#!" class="breadcrumb"><%= @board.name %></a>
<% end %>

<h3>Summary for <%= @board.name %></h3>

<%= erb 'partials/table'.to_sym, :locals => { :table => @board.summary_table } %>

<p class="center">
  <a href="<%= board_issues_path(@domain, @board) %>">
    All Issues &rarr;
  </a>
</p>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable(<%= @chart_data.to_json %>);

    var options = {
      hAxis: {
        format: 'd MMM yy'
      },
      vAxis: {
        gridlines: {color: 'none'},
        minValue: 0
      }
    };

    var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
    google.visualization.events.addListener(chart, 'select', selectHandler);
    chart.draw(data, options);

    function selectHandler() {
      var selection = chart.getSelection();
      var key = data.getValue(selection[0].row, 2);
      $( "#selected_issue" ).load( document.URL + "/issues/" + key + "?fragment=true" );
    }

    var wipData = new google.visualization.DataTable(<%= @wip_data.to_json %>);

    var wipOptions = {
      hAxis: {
        format: 'd MMM yy'
      },
      vAxis: {
        gridlines: {color: 'none'},
        minValue: 0
      }
    };

    var wipChart = new google.visualization.ScatterChart(document.getElementById('wip_chart_div'));
    wipChart.draw(wipData, wipOptions);
  }


</script>

<h3>Control Chart</h3>
<!--Div that will hold the pie chart-->
<div id="chart_div" style="height:460"></div>
<div id="wip_chart_div" style="height:460"></div>
<div id="selected_issue"></div>
</body>
