<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="#!" class="breadcrumb"><%= @board.name %></a>
<% end %>

<h3>Summary for <%= @board.name %></h3>

<%= erb 'partials/table'.to_sym, :locals => { :table => @board.summary_table } %>

<p class="center">
  <a href="<%= board_issues_path(@domain, @board) %>" class="waves-effect waves-light btn">
    All Issues &rarr;
  </a>

  <a href="<%= board_control_chart_path(@domain, @board) %>" class="waves-effect waves-light btn">
    Control Chart &rarr;
  </a>
</p>

</body>
