<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Home</a>
    <a href="/<%= @domain['name'] %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="#!" class="breadcrumb"><%= @board.name %></a>
<% end %>

<h2>Summary for <%= @board.name %></h2>

<%= erb 'partials/table'.to_sym, :locals => { :table => @board.summary_table } %>

<a href="<%= "/#{@domain['name']}/boards/#{@board.id}/issues" %>" class="waves-effect waves-light btn">
  All Issues
</a>
