<% content_for :nav_content do %>
    <a href="/" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="#!" class="breadcrumb"><%= @board.name %></a>
<% end %>

<h3>
  <div class="float right">
    <a href="<%= board_control_chart_path(@domain, @board) %>" class="waves-effect waves-light btn">
      <i class="material-icons left">trending_up</i>Control Chart
    </a>
    <a href="<%= board_issues_path(@domain, @board) %>" class="waves-effect waves-light btn">
      <i class="material-icons left">list</i>Issues
    </a>
  </div>
  Summary for <%= @board.name %>
</h3>

<%= erb 'partials/cycle_time_form'.to_sym %>

<script>
  function fetchSummary() {
    var url = buildComponentUrl('<%= board_component_summary_path(@domain, @board) %>');
    $('#summary').empty();
    $('#summary').load(url);
  }
</script>

<div id="summary"></div>

</body>
