<% content_for :nav_content do %>
    <a href="<%= domains_path %>" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="#!" class="breadcrumb"><%= @board.name %></a>
<% end %>

<script>
  $(function() {
    $('.modal').modal();

    $('#sync').click(function () {
      $.post('<%= board_path(@domain, @board) %>/sync', $("#sync-form").serialize())
          .done(function () {
            $('#sync-modal').modal('close');
          })
          .fail(function (data) {
            if (data.status == 400) {
              // validation error
              $('#sync-modal-content').html(data.responseText);
            } else {
              alert('Unexpected error. Please raise a bug at github.com/jbrunton/jira-team-metrics.');
            }
          });
    });

    $('#update-config').click(function () {
      $.post('<%= board_path(@domain, @board) %>', $("#config-form").serialize())
          .done(function () {
            location.reload();
          })
          .fail(function (data) {
            if (data.status == 400) {
              // validation error
              $('#config-modal-content').html(data.responseText);
            } else {
              alert('Unexpected error. Please raise a bug at github.com/jbrunton/jira-team-metrics.');
            }
          });
    });
  });
</script>

<h3><%= @board.name %></h3>

<%= render partial: 'shared/sync_status_indicator', locals: { channel: 'SyncBoardChannel', model_id: @board.jira_id } %>

<div class="row">
  <div class="col s8">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Reports</h4></li>
      <li class="collection-item"><div><a href="<%= reports_path(@domain, @board) %>/control_chart">Control Chart</a></div></li>
      <li class="collection-item"><div><a href="<%= reports_path(@domain, @board) %>/issues">Issues</a></div></li>
      <li class="collection-item"><div><a href="<%= reports_path(@domain, @board) %>/issues_by_type">Issues by Type</a></div></li>
      <li class="collection-item"><div><a href="<%= reports_path(@domain, @board) %>/cycle_times_by_type">Cycle Times by Type</a></div></li>
    </ul>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Board Status</span>
        <p>Last synced: <%= pretty_print_date(@board.last_synced) %></p>
        <p>Synced from: <%= pretty_print_date(@board.synced_from) %></p>
      </div>
      <div class="card-action">
        <a href="#sync-modal">Sync</a>
        <a href="#config-modal">Config</a>
      </div>
    </div>
  </div>
</div>

<div id="config-modal" class="modal bottom-sheet">
  <div id="config-content" class="modal-content">
    <%= render partial: 'config_form' %>
  </div>
  <div class="modal-footer">
    <a id="update-config" href="#" class="waves-effect waves-light btn">
      Update
    </a>
  </div>
</div>

<%= render partial: 'shared/sync_modal' %>