<% content_for :nav_content do %>
    <a href="<%= domains_path %>" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="#!" class="breadcrumb"><%= @board.name %></a>
<% end %>

<h3>
  <div class="float right">
    <a href="<%= board_control_chart_path(@domain, @board) %>" class="waves-effect waves-light btn">
      <i class="material-icons left">trending_up</i>Control Chart
    </a>
    <a href="<%= board_issues_path(@domain, @board) %>" class="waves-effect waves-light btn">
      <i class="material-icons left">list</i>Issues
    </a>
  </div>
  Summary for <%= @board.name %>
</h3>

<%= erb 'partials/cycle_time_form'.to_sym %>
<script>
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawSummaryCharts);

  $(function() {
    fetchData();
    $('form input').change(fetchData);
    $('#ct-options input').change(drawCycleTimeSummaryChart);
  })

  function fetchData() {
    var url = buildComponentUrl('<%= board_component_summary_path(@domain, @board) %>');
    $('#summary_table').empty().load(url);
    $('#by_month').empty().load(url + '&group_by=month');
    $('#by_week').empty().load(url + '&group_by=week');
  }

  function drawSummaryCharts() {
    drawCountSummaryChart();
    drawCycleTimeSummaryChart();
  }

  function drawCountSummaryChart() {
    var url = buildComponentUrl('<%= board_path(@domain, @board) %>}/api/count_summary.json');

    var jsonData = $.ajax({
      url: url,
      dataType: "json",
      async: false
    }).responseText;

    var data = new google.visualization.DataTable(jsonData);

    var options = {
      title: 'Count of issues by issue type',
    };

    var chartDiv = $('#count_summary_chart');
    chartDiv.css('height', chartDiv.width() * 0.5);

    var chart = new google.visualization.PieChart(document.getElementById('count_summary_chart'));
    chart.draw(data, options);
  }

  function drawCycleTimeSummaryChart() {
    var url = buildComponentUrl('<%= board_path(@domain, @board) %>}/api/cycle_time_summary.json');

    url += '&series=';
    if ($('#ct_min-max').prop('checked')) {
      url += 'min-max,';
    }
    if ($('#ct_p10-p90').prop('checked')) {
      url += 'p10-p90,';
    }
    if ($('#ct_p25-p75').prop('checked')) {
      url += 'p25-p75,';
    }

    var jsonData = $.ajax({
      url: url,
      dataType: "json",
      async: false
    }).responseText;

    var data = new google.visualization.DataTable(jsonData);

    var options = {
      title:'Cycle times by issue type',
      height: 500,
      legend: {position: 'none'},
      hAxis: {
        gridlines: {color: '#fff'}
      },
      lineWidth: 0,
      pointSize: 2,
      series: [{'color': '#D3362D'}],
      intervals: {
        barWidth: 1,
        boxWidth: 1,
        lineWidth: 2,
        style: 'boxes'
      },
      interval: {
        p10: {
          style: 'bars',
          fillOpacity: 1,
          color: '#777'
        },
        p90: {
          style: 'bars',
          fillOpacity: 1,
          color: '#777'
        },
        min: {
          style: 'points',
          color: '#777'
        },
        max: {
          style: 'points',
          color: '#777'
        }
      }
    };

    var chartDiv = $('#cycle_time_summary_chart');
    chartDiv.css('height', chartDiv.width() * 0.5);

    var chart = new google.visualization.LineChart(document.getElementById('cycle_time_summary_chart'));
    chart.draw(data, options);
  }
</script>

<div class="row">
  <div class="col s12">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a href="#summary">Overview</a></li>
      <li class="tab col s3"><a href="#by_month">By Month</a></li>
      <li class="tab col s3"><a href="#by_week">By Week</a></li>
    </ul>
  </div>
  <div id="summary" class="col s12">
    <div id="count_summary_chart"></div>
    <div id="cycle_time_summary_chart"></div>
    <div id="ct-options">
      <p>
        <input type="checkbox" id="ct_min-max" checked="true" />
        <label for="ct_min-max">Min / Max</label>
      </p>
      <p>
        <input type="checkbox" id="ct_p10-p90" checked="true" />
        <label for="ct_p10-p90">10th Percentile - 90th Percentile</label>
      </p>
      <p>
        <input type="checkbox" id="ct_p25-p75" checked="true" />
        <label for="ct_p25-p75">Interquartile Range</label>
      </p>
    </div>
    <div id="summary_table"></div>
  </div>
  <div id="by_month" class="col s12">
  </div>
  <div id="by_week" class="col s12">
  </div>
</div>

</body>
