<% content_for :nav_content do %>
    <a href="<%= domains_path %>" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="#!" class="breadcrumb"><%= @board.name %></a>
<% end %>

<h3>
  <div class="float right">
    <a href="<%= board_control_chart_path(@domain, @board) %>" class="waves-effect waves-light btn">
      <i class="material-icons left">trending_up</i>Control Chart
    </a>
    <a href="<%= board_issues_path(@domain, @board) %>" class="waves-effect waves-light btn">
      <i class="material-icons left">list</i>Issues
    </a>
  </div>
  Summary for <%= @board.name %>
</h3>

<%= erb 'partials/cycle_time_form'.to_sym %>

<script>
  $(function() {
    fetchData();
    $('form input').change(fetchData);
  })

  function fetchData() {
    var url = buildComponentUrl('<%= board_component_summary_path(@domain, @board) %>');
    $('#summary').empty().load(url);

    var byMonthUrl = url + '&group_by=month';
    $('#by_month').empty().load(byMonthUrl);
  }
</script>

<div class="row">
  <div class="col s12">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a href="#summary">Overview</a></li>
      <li class="tab col s3"><a href="#by_month">By Month</a></li>
      <li class="tab col s3"><a href="#by_week">By Week</a></li>
    </ul>
  </div>
  <div id="summary" class="col s12"></div>
  <div id="by_month" class="col s12"></div>
  <div id="by_week" class="col s12"></div>
</div>

</body>
