<div class="ui card">
  <div class="content">
    <h5><%= @issue.key %> – <%= @issue.summary %></h5>
  </div>
  <div class="content">
    <table>
      <tr>
        <th class="field-name">
          <b>Duration</b>
        </th>
        <td>
          <%= (@now - @issue.send(@start_field.to_s)).floor %> days
        </td>
      </tr>
      <tr>
        <th class="field-name"><b>Epic</b></th>
        <td>
          <% if @issue.epic.nil? %>
            None
          <% else %>
            <%= @issue.epic.key %> – <%= @issue.epic.summary %>
          <% end %>
        </td>
      </tr>
      <% @issue.board.config.reports.aging_wip.fields.each do |field| %>
        <tr>
          <th class="field-name">
            <%= field %>
          </th>
          <td>
            <%= issue_field(@issue, field) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>