<% content_for :nav_content do %>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@domain, @board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Compare</a>
<% end %>

<h3>Control chart for <%= @board.name %></h3>

<%= render partial: 'partials/cycle_time_form', locals: { subquery: true } %>

<div id="chart_div"></div>

<div class="row">
  <div class="col s8">
    <div id="histogram_div"></div>
  </div>
  <div class="col s4">
    <table class="">
      <thead>
        <tr>
          <th>Quartile</th>
          <th>Total</th>
          <th>%</th>
        </tr>
      </thead>
      <tr>
        <td>Q1</td>
        <td id="q1-total"></td>
        <td id="q1-percent"></td>
      </tr>
      <tr>
        <td>Q2</td>
        <td id="q2-total"></td>
        <td id="q2-percent"></td>
      </tr>
      <tr>
        <td>Q3</td>
        <td id="q3-total"></td>
        <td id="q3-percent"></td>
      </tr>
      <tr>
        <td>Q4</td>
        <td id="q4-total"></td>
        <td id="q4-percent"></td>
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});

  $(function() {
    $('input').change(updateChart);
    $('textarea').change(updateChart);
  });

  function updateChart() {
    $('#chart_div').animate({ opacity: 0 })
    $('#histogram_div').animate({ opacity: 0 })
    $('#selected_content').empty();
    var chart = $('#chart_div');
    chart.css('height', chart.width() * 0.5);

    var histogram = $('#histogram_div');
    histogram.css('height', histogram.width() * 0.5);

    var url = buildComponentUrl('<%= board_api_path(@domain, @board) %>/compare.json')
        + '&selection_query=' + $('#selection_query').val();

    $.get(url, drawChart);
  }

  function drawChart(jsonData) {
    $('#chart_div').animate({ opacity: 1 })
    $('#histogram_div').animate({ opacity: 1 })
    var data = new google.visualization.DataTable(jsonData.chartData);

    ['q1', 'q2', 'q3', 'q4'].map(function(quartile) {
      $('#' + quartile + '-total').text(jsonData.quartiles[quartile].total);
      $('#' + quartile + '-percent').text(jsonData.quartiles[quartile].percent);
    });

    var options = {
      chartArea: {
        width: '85%',
        height: '85%'
      },
      series: {
        0: { pointSize: 4, color: 'indianred' },
        1: { pointSize: 3, color: 'steelblue' }
      },
      lineWidth: 0,
      intervals: {
        style: 'area',
        fillOpacity: 0.15
      },
      interpolateNulls: false
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    google.visualization.events.addListener(chart, 'select', selectHandler);
    chart.draw(data, options);

    var histogramData = new google.visualization.DataTable(jsonData.histogramData);
    var histogram = new google.visualization.Histogram(document.getElementById('histogram_div'));
    histogram.draw(histogramData, {
      histogram: {
        bucketSize: 25,
        minValue: 0,
        maxValue: 100
      }
    });
  }

  $(function() {
    google.charts.setOnLoadCallback(updateChart);
  });

</script>



<div id="selected_content"></div>
