<% content_for :nav_content do %>
    <a href="<%= domains_path %>" class="breadcrumb">Domains</a>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain['name'] %></a>
    <a href="<%= board_path(@domain, @board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Issues</a>
<% end %>

<h3>Cycle Times by Issue Type</h3>

<%= render 'partials/cycle_time_form' %>

<script>
  google.charts.load('current', {'packages':['corechart']});

  $(function() {
    $('#ct-options input').change(updateCharts);
    $('#ct-states input').change(updateCharts);
    google.charts.setOnLoadCallback(updateCharts);
  });

  function updateCharts() {
    updateChart();
    updateStoryChart();
  }

  function updateChart() {
    $('#chart').animate({ opacity: 0 })
    var url = buildComponentUrl('<%= board_api_path(@domain, @board) %>/cycle_time_summary.json');
    console.log(url);

    url += '&series=';
    if ($('#ct_min-max').prop('checked')) {
      url += 'min-max,';
    }
    if ($('#ct_p10-p90').prop('checked')) {
      url += 'p10-p90,';
    }

    $.get(url, drawChart);
  }

  function drawChart(jsonData) {
    $('#chart').animate({ opacity: 1 })
    var data = new google.visualization.DataTable(jsonData);

    var chartDiv = $('#chart');
    chartDiv.css('height', chartDiv.width() * 0.5);

    var chart = new google.visualization.LineChart(document.getElementById('chart'));
    chart.draw(data, chartOpts('Cycle Times by Issue Type'));
  }

  function updateStoryChart() {
    $('.issue_type_chart').animate({ opacity: 0 })
    var url = buildComponentUrl('<%= board_api_path(@domain, @board) %>/cycle_time_summary_by_month.json');
    console.log(url);

    url += '&series=';
    if ($('#ct_min-max').prop('checked')) {
      url += 'min-max,';
    }
    if ($('#ct_p10-p90').prop('checked')) {
      url += 'p10-p90,';
    }

    $.get(url, drawStoryChart);
  }

  function drawStoryChart(jsonData) {
    $('.issue_type_chart').animate({ opacity: 1 })

    var issue_types = ['Story', 'Bug', 'Improvement', 'Technical Debt'];

    for (var i = 0; i < 4; ++i) {
      var issue_type = issue_types[i],
          container_id = issue_type.split(' ').join('_') + '_chart';

      var chartDiv = $('#' + container_id);
      chartDiv.css('height', chartDiv.width() * 0.5);

      var data = new google.visualization.DataTable(jsonData[issue_type]);
      var chart = new google.visualization.LineChart(document.getElementById(container_id));
      chart.draw(data, chartOpts(issue_type + ' Cycle Times by Month'));
    }
  }

  function chartOpts(title) {
    var series = {
      0: {
        color: '#D3362D',
        pointSize: 4
      }
    };

    if ($('#ct_min-max').prop('checked')) {
      series['2'] = {
        color: '#777',
        pointSize: 4
      };
      series['3'] = {
        color: '#777',
        pointSize: 4
      };
    }

    var options = {
      title: title,
      chartArea: {
        width: '90%'
      },
      legend: {position: 'none'},
      hAxis: {
        gridlines: {color: '#fff'}
      },
      lineWidth: 0,
      pointSize: 0,
      seriesColor: '#777',
      series: series,
      intervals: {
        barWidth: 1,
        boxWidth: 1,
        lineWidth: 2,
        style: 'boxes',
        color: '#9e2922'
      },
      interval: {
        'i:p10': {
          style: 'bars',
          fillOpacity: 1,
          color: '#777'
        },
        'i:p90': {
          style: 'bars',
          fillOpacity: 1,
          color: '#777'
        }
      }
    };

    return options;
  }
</script>

<div id="ct-options">
  <p>
    <input type="checkbox" id="ct_min-max" checked="true" />
    <label for="ct_min-max">Min / Max</label>
  </p>
  <p>
    <input type="checkbox" id="ct_p10-p90" checked="true" />
    <label for="ct_p10-p90">10th Percentile - 90th Percentile</label>
  </p>
</div>

<div id="chart"></div>
<div class="issue_type_chart" id="Story_chart"></div>
<div class="issue_type_chart" id="Bug_chart"></div>
<div class="issue_type_chart" id="Improvement_chart"></div>
<div class="issue_type_chart" id="Technical_Debt_chart"></div>