<% content_for :nav_content do %>
    <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Delivery</a>
<% end %>

<div class="row">
  <div class="col s6">
    <h3><%= params['issue_key'] %></h3>

    <%= render partial: 'partials/delivery_report', locals: { report: @report } %>

    <% @team_reports.each do |team, team_report| %>
        <h5><%= team %></h5>
        <%= render partial: 'partials/delivery_report', locals: { report: team_report } %>
    <% end %>
  </div>
</div>
