<% content_for :nav_content do %>
    <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Delivery</a>
<% end %>

<h3><%= @report.name %></h3>
<div class="row">
  <table class="col s6">
    <tr>
      <td style="width: 40%;">
        Started
      </td>
      <td>
        <%= pretty_print_date(@report.started_date) %>
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        Elapsed Time
      </td>
      <td>
        <%= pretty_print_number(@report.elapsed_time) %> days
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        Scope
      </td>
      <td>
        <%= @report.issues.count %>
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        Completed
      </td>
      <td>
        <%= @report.completed_issues.count %>
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        Completion Rate
      </td>
      <td>
        <%= pretty_print_number(@report.completion_rate * 7) %> / week
        (every <%= pretty_print_number(1.0 / @report.completion_rate) %> days)
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        Rolling Completion Rate <br> (last 14 days)
      </td>
      <td>
        <%= pretty_print_number(@report.rolling_completion_rate * 7) %> / week
        (every <%= pretty_print_number(1.0 / @report.rolling_completion_rate) %> days)
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        Forecast Completion Date
      </td>
      <td>
        <%= pretty_print_date(@report.forecast_completion_date, show_tz: false) %>
      </td>
    </tr>
    <tr>
      <td style="width: 40%;">
        Rolling Forecast Completion Date
      </td>
      <td>
        <%= pretty_print_date(@report.rolling_forecast_completion_date, show_tz: false) %>
      </td>
    </tr>
  </table>
</div>

