<% content_for :nav_content do %>
    <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="<%= reports_path(@board) %>/deliveries" class="breadcrumb">Deliveries</a>
    <a href="#!" class="breadcrumb"><%= @increment.key %></a>
<% end %>

<script>
  google.charts.load('current', {'packages':['corechart', 'timeline']});

  $(function() {
    google.charts.setOnLoadCallback(updateChart);
  });

  function updateChart() {

    <% cache "cfd_data/#{@increment.key}" do %>
      var rawData = google.visualization.arrayToDataTable(<%= cfd_data(:raw).to_json.html_safe %>);
      var trainedData = google.visualization.arrayToDataTable(<%= cfd_data(:trained).to_json.html_safe %>);
    <% end %>

    var options = {
      hAxis: {titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0, textPosition: 'none'},
      isStacked: true,
      lineWidth: 1,
      areaOpacity: 0.4,
      legend: { position: 'bottom' },
      series: {
        0: { color: 'blue' },
        1: { color: 'green' },
        2: { color: 'red' },
        3: { color: 'orange' }
      },
      chartArea: {
        width: '95%',
        height: '80%'
      },
      annotations: {
        textStyle: {
          color: 'black'
        },
        style: 'point',
        datum: {
          stem: {
            color: 'black',
            style: 'point',
            length: '12'
          }
        }
      }
    };

    options.title = 'Rolling Forecast';
    var rawCfdChart = new google.visualization.AreaChart(document.getElementById('raw-cfd'));
    rawCfdChart.draw(rawData, options);

    options.title = 'Trained Forecast';
    var trainedCfdChart = new google.visualization.AreaChart(document.getElementById('trained-cfd'));
    trainedCfdChart.draw(trainedData, options);
  }
</script>

<div class="row">
  <div id="raw-cfd" class="col s6" style="height: 300px; margin-top: 20px;">

  </div>
  <div id="trained-cfd" class="col s6" style="height: 300px; margin-top: 20px;">

  </div>
</div>

<% cache "team_dashboard/#{@increment.key}" do %>

<table class="team-dashboard">
  <thead>
    <tr>
      <th class="center-align">Status</th>
      <th class="center-align">Team</th>
      <th class="center-align">Target</th>
      <th class="center-align" colspan="2">Remaining</th>
      <th class="center-align" colspan="2">Completed</th>
      <th class="center-align highlight" colspan="2">Rolling Metrics</th>
      <th class="center-align" colspan="2">Trained Metrics</th>
      <th></th>
    </tr>
    <tr>
      <td colspan="3"></td>
      <td>Total</td>
      <td>[Predicted]</td>
      <td colspan="2"></td>
      <td class="highlight">Throughput</td>
      <td class="highlight">Forecast</td>
      <td>Throughput</td>
      <td>Forecast</td>
      <td></td>
    </tr>
  </thead>

<% team_dashboard_data[:teams].each do |team, team_data| %>
    <tr class="<%= team_data[:remaining_scope] == 0 ? 'complete' : '' %>">
      <td>
        <% if @increment.target_date %>
            <span class="status-indicator <%= team_data[:status_color] %>"></span>
        <% end %>
      </td>
      <td>
        <%= team %>
      </td>
      <td>
        <%= pretty_print_date(@increment.target_date, show_tz: false) %>
      </td>
      <td class="right-align">
        <%= team_data[:remaining_scope] %>
      </td>
      <td>
        [<%= team_data[:predicted_scope] %>]
      </td>
      <td class="right-align">
        <%= team_data[:completed_scope] %>
      </td>
      <td>
        (<%= pretty_print_number(team_data[:progress_percent], round: true) %>%)
      </td>
      <td class="right-align highlight">
        <%= pretty_print_number(team_data[:rolling_completion_rate] * 7) %>
      </td>
      <td class="highlight">
        <%= pretty_print_date(team_data[:rolling_completion_date], show_tz: false) %>
      </td>
      <td class="right-align">
        <%= pretty_print_number(team_data[:trained_completion_rate] * 7) %>
      </td>
      <td>
        <%= pretty_print_date(team_data[:trained_completion_date], show_tz: false) %>
      </td>
      <td>
        <a href="<%= delivery_scope_report_path(@board, @increment, team) %>">Details</a>
      </td>
    </tr>
<% end %>

  <tr>
    <th></th>
    <th>
      Totals
    </th>
    <th>
      <%= pretty_print_date(@increment.target_date, show_tz: false) %>
    </th>
    <th class="right-align">
      <%= team_dashboard_data[:totals][:remaining_scope] %>
    </th>
    <th>
      [<%= team_dashboard_data[:totals][:predicted_scope] %>]
    </th>
    <th class="right-align">
      <%= team_dashboard_data[:totals][:completed_scope] %>
    </th>
    <th>
      (<%= pretty_print_number(team_dashboard_data[:totals][:progress_percent], round: true) %>%)
    </th>
    <th class="right-align highlight">
      <%= pretty_print_number(team_dashboard_data[:totals][:rolling_completion_rate] * 7) %>
    </th>
    <th class="highlight">
    </th>
    <th class="right-align">
      <%= pretty_print_number(team_dashboard_data[:totals][:trained_completion_rate] * 7) %>
    </th>
    <th>
    </th>
    <th></th>
  </tr>

</table>

<% end %>

<form action="#">
  <p class="center-align">
    Rolling metrics measured across previous 7 day window. Throughput is closed issues per week.
  </p>
  <p class="center-align">
    <input type="checkbox" id="hide_complete" name="hide_completed" checked />
    <label for="hide_complete">Hide teams with no remaining scope</label>
  </p>
</form>

<script>
  $(function() {
    $('tr.complete').hide();
    $('#hide_complete').click(function(event) {
      if (event.currentTarget.checked) {
        $('tr.complete').hide();
      } else {
        $('tr.complete').show();
      }
    });
  });
</script>