<% content_for :nav_content do %>
    <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="<%= reports_path(@board) %>/deliveries" class="breadcrumb">Deliveries</a>
    <a href="#!" class="breadcrumb"><%= @increment.key %></a>
<% end %>

<script>
  google.charts.load('current', {'packages':['corechart']});

  $(function() {
    google.charts.setOnLoadCallback(updateChart);
  });

  function updateChart() {

    var data = google.visualization.arrayToDataTable(<%= @report.cfd_data.to_json.html_safe %>);

    var options = {
      title: 'Delivery CFD',
      hAxis: {title: 'Day', titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0},
      isStacked: true,
      lineWidth: 1,
      areaOpacity: 0.4,
      series: {
        0: { color: 'blue' },
        1: { color: 'green' },
        2: { color: 'red' }
      },
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.AreaChart(document.getElementById('chart'));
    chart.draw(data, options);
  }
</script>

<div id="chart">

</div>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Team</th>
      <th>Scope</th>
      <th>Completion Rate</th>
      <th>Forecast Completion</th>
      <th></th>
    </tr>
  </thead>

<% @report.teams.each do |team| %>
    <% team_report = @report.team_report_for(team) %>
    <tr>
      <td></td>
      <td>
        <%= team %>
      </td>
      <td><%= team_report.scope.count %>
      </td>
      <td>
        <%= pretty_print_number(team_report.rolling_completion_rate(7) * 7) %> / week
        (every <%= pretty_print_number(1.0 / team_report.rolling_completion_rate(7)) %> days)
      </td>
      <td>
        <%= pretty_print_date(team_report.rolling_forecast_completion_date(7), show_tz: false) %>
      </td>
      <td>
        <a href="<%= delivery_scope_report_path(@board, @increment, team) %>">Details</a>
      </td>
    </tr>
<% end %>
</table>