<% content_for :nav_content do %>
    <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Delivery</a>
<% end %>

<%= render partial: 'partials/delivery_report', locals: { report: @report, report_name: params['issue_key'] } %>

<% @team_reports.each do |team, team_report| %>
    <%= render partial: 'partials/delivery_report', locals: { report: team_report, report_name: team } %>
<% end %>
