<% content_for :nav_content do %>
    <a href="<%= domain_path %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="<%= reports_path(@board) %>/deliveries" class="breadcrumb">Deliveries</a>
    <a href="#!" class="breadcrumb"><%= @increment.key %></a>
<% end %>

<script>
  google.charts.load('current', {'packages':['corechart']});

  $(function() {
    google.charts.setOnLoadCallback(updateChart);
  });

  function updateChart() {

    var rawData = google.visualization.arrayToDataTable(<%= @report.cfd_data(:raw).to_json.html_safe %>);
    var trainedData = google.visualization.arrayToDataTable(<%= @report.cfd_data(:trained).to_json.html_safe %>);

    var options = {
      hAxis: {title: 'Day', titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0},
      isStacked: true,
      lineWidth: 1,
      areaOpacity: 0.4,
      legend: { position: 'bottom' },
      series: {
        0: { color: 'blue' },
        1: { color: 'green' },
        2: { color: 'red' },
        3: { color: 'orange' }
      },
      chartArea: {
        width: '80%'
      },
      annotations: {
        textStyle: {
          color: 'black'
        },
        style: 'point',
        datum: {
          stem: {
            color: 'black',
            style: 'point',
            length: '12'
          }
        }
      }
    };

    options.title = 'Raw CFD';
    var rawChart = new google.visualization.AreaChart(document.getElementById('raw-cfd'));
    rawChart.draw(rawData, options);

    options.title = 'Trained CFD';
    var trainedChart = new google.visualization.AreaChart(document.getElementById('trained-cfd'));
    trainedChart.draw(trainedData, options);
  }
</script>

<div class="row">
  <div id="raw-cfd" class="col s6" style="height: 350px; margin-top: 20px;">

  </div>
  <div id="trained-cfd" class="col s6" style="height: 350px; margin-top: 20px;">

  </div>
</div>


<table class="team-dashboard">
  <thead>
    <tr>
      <th>Status</th>
      <th>Team</th>
      <th colspan="2">Remaining Scope</th>
      <th colspan="2">Completed</th>
      <th>Raw Rate</th>
      <th>Raw Forecast</th>
      <th>Trained Rate</th>
      <th>Trained Forecast</th>
      <th></th>
    </tr>
  </thead>

  <tr>
    <th></th>
    <th>
      Overall
    </th>
    <th class="right-align">
      <%= @report.remaining_scope.count %>
    </th>
    <th>
      [<%= @report.predicted_scope.count %>]
    </th>
    <th class="right-align">
      <%= @report.completed_scope.count %>
    </th>
    <th>
      (<%= pretty_print_number(100.0 * @report.completed_scope.count / @report.scope.count, round: true) %>%)
    </th>
    <th>
      <%= pretty_print_number(@report.rolling_completion_rate(7) * 7) %> / week
    </th>
    <th>
      <%= pretty_print_date(@report.rolling_forecast_completion_date(7), show_tz: false) %>
    </th>
    <th>
      <%= pretty_print_number(@report.trained_completion_rate * 7) %> / week
    </th>
    <th>
      <%= pretty_print_date(@report.trained_completion_date, show_tz: false) %>
    </th>
    <th></th>
  </tr>

<% @report.teams.each do |team| %>
    <% team_report = @report.team_report_for(team) %>
    <tr class="<%= team_report.remaining_scope.empty? ? 'complete' : '' %>">
      <td>
        <% if @increment.target_date %>
            <span class="status-indicator <%= team_report.status_color %>"></span>
        <% end %>
      </td>
      <td>
        <%= team %>
      </td>
      <td class="right-align">
        <%= team_report.remaining_scope.count %>
      </td>
      <td>
        [<%= team_report.predicted_scope.count %>]
      </td>
      <td class="right-align">
        <%= team_report.completed_scope.count %>
      </td>
      <td>
        (<%= pretty_print_number(100.0 * team_report.completed_scope.count / team_report.scope.count, round: true) %>%)
      </td>
      <td>
        <%= pretty_print_number(team_report.rolling_completion_rate(7) * 7) %> / week
      </td>
      <td>
        <%= pretty_print_date(team_report.rolling_forecast_completion_date(7), show_tz: false) %>
      </td>
      <td>
        <%= pretty_print_number(team_report.trained_completion_rate * 7) %> / week
      </td>
      <td>
        <%= pretty_print_date(team_report.trained_completion_date, show_tz: false) %>
      </td>
      <td>
        <a href="<%= delivery_scope_report_path(@board, @increment, team) %>">Details</a>
      </td>
    </tr>
<% end %>
</table>

<form action="#">
  <p class="center-align">
    <input type="checkbox" id="hide_complete" name="hide_completed" checked />
    <label for="hide_complete">Hide teams with no remaining scope</label>
  </p>
</form>

<script>
  $(function() {
    $('tr.complete').hide();
    $('#hide_complete').click(function(event) {
      if (event.currentTarget.checked) {
        $('tr.complete').hide();
      } else {
        $('tr.complete').show();
      }
    });
  });
</script>