<% content_for :nav_content do %>
    <a href="<%= domain_path(@domain) %>" class="breadcrumb"><%= @domain.config.name %></a>
    <a href="<%= board_path(@domain, @board) %>" class="breadcrumb"><%= @board.name %></a>
    <a href="#!" class="breadcrumb">Timesheets</a>
<% end %>

<h3>Issues for <%= @board.name %></h3>

<%= render partial: 'partials/cycle_time_form' %>

<script>
  $(function() {
    fetchData();
    $('input').change(fetchData);
    $('textarea').change(fetchData);
  })

  function fetchData() {
    var url = buildComponentUrl('<%= board_components_path(@domain, @board) %>/timesheets');
    $('#list').empty();
    $('#list').load(url);
  }
</script>

<div id="list"></div>